﻿@model FPCS.Web.Admin.Models.Family.MonthlyContactLogCreateModel
@using FPCS.Web.Admin.Models.Family;

@{
    ViewBag.Title = "Monthly Contact Log Create Manager";
    ViewBag.Header = "Monthly Contact Log Create Manager";
    ViewBag.SubHeader = "Create Monthly Contact Log";
}

@section head{
}

<div class="row-fluid">
    <div class="span12">
    @using (Html.BeginForm("_CreateMonthlyContactLog", "Family", FormMethod.Post, new { id = "monthlyContactLogForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.FamilyId)
        @Html.HiddenFor(x => x.TeacherId)

        <h3 class="header smaller lighter green">Main monthly contact log information</h3>

        <div class="controls">
            @Html.ValidationSummary(true)
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Date, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Date, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.Date), @class = "span6 date-picker", data_date_format = "mm/dd/yyyy" })
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
                @Html.ValidationMessageFor(m => m.Date)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Comment, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(x => x.Comment, new { placeholder = Html.DisplayNameFor(x => x.Comment), @class = "autosize-transition span6" })
                @Html.ValidationMessageFor(m => m.Comment)
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-success btn-save" type="button">
                <i class="icon-ok bigger-110"></i>
                Save log
            </button>
            <button class="btn btn-info btn-cancel" type="button">
                <i class="icon-reply bigger-110"></i>
                Cancel
            </button>
        </div>
        }
    </div>
</div>
