﻿@model FPCS.Web.Admin.Models.Family.LightStudentModel

<div class="profile-activity clearfix">
    @Html.Hidden("FamilyStudents.Index", Model.DbUserId)
    @Html.Hidden("FamilyStudents[" + Model.DbUserId + "].DbUserId", Model.DbUserId)
    @Html.Hidden("FamilyStudents[" + Model.DbUserId + "].FullName", Model.FullName)
    @Html.Hidden("FamilyStudents[" + Model.DbUserId + "].GradYear", Model.GradYear)
    <div>
        <img class="pull-left" alt="Alex Doe's avatar" src="/Images/avatar2.png"/>
        @if (Model.IsWithdrawal)
        {
            <a class="red user editStudentOpen" rowid="@Model.DbUserId">@Model.FullName</a>
        }
        else
        {
            <a class="user editStudentOpen" rowid="@Model.DbUserId">@Model.FullName</a>
        }
        
        @*@Html.ActionLink(Model.FullName, "_Edit", "Student", new { id = Model.DbUserId, isDialog = true }, new { @class = "user editStudentOpen" })*@
        @if(Model.GradYear > 0)
        {
            <div class="time">
                <i class="icon-calendar bigger-110"></i>
                @Model.GradYear
            </div>
        }
    </div>

    <div class="tools action-buttons">
        <a rowid="@Model.DbUserId" href="#" class="blue editStudentOpen">
            <i class="icon-pencil bigger-125"></i>
        </a>

        <a href="#" onclick="return fpcs.family.delUserFromFamily(this)" class="red">
            <i class="icon-remove bigger-125"></i>
        </a>
    </div>
</div>
