﻿@model FPCS.Web.Admin.Models.Family.LightGuardianModel

<div class="profile-activity clearfix">
    @Html.Hidden("FamilyGuardians.Index", Model.DbUserId)
    @Html.Hidden("FamilyGuardians[" + Model.DbUserId + "].DbUserId", Model.DbUserId)
    @Html.Hidden("FamilyGuardians[" + Model.DbUserId + "].FullName", Model.FullName)
    @Html.Hidden("FamilyGuardians[" + Model.DbUserId + "].CellPhone", Model.CellPhone)
    <div>
        <img class="pull-left" alt="Alex Doe's avatar" src="/Images/avatar2.png" />
        @Html.ActionLink(Model.FullName, "_Edit", "Guardian", new { id = Model.DbUserId, isDialog = true }, new { @class = "user editGuardianOpen" })
        @if(!String.IsNullOrEmpty(Model.CellPhone))
        {
            <div class="time">
                <i class="icon-phone  bigger-110"></i>
                @Model.CellPhone
            </div>
        }
    </div>

    <div class="tools action-buttons">
        <a rowid="@Model.DbUserId" href="#" class="blue editGuardianOpen">
            <i class="icon-pencil bigger-125"></i>
        </a>
    </div>
</div>
