﻿@model FPCS.Web.Admin.Models.Family.FamilyCreateModel
@using FPCS.Web.Admin.Models.Family;

@{
    ViewBag.Title = "Family Manager";
    ViewBag.Header = "Family Manager";
    ViewBag.SubHeader = "Create Family";
}

@section head{
}

<div class="row-fluid">
    <div class="span12">

    @using (Html.BeginForm("Create", "Family", FormMethod.Post, new { id = "createFamilyForm", @class = "form-horizontal" }))
        {
        @Html.AntiForgeryToken()

        <h3 class="header smaller lighter green">Main family information</h3>

        <div class="controls">
            @Html.ValidationSummary(true)
        </div>

        @*<div class="control-group">
            @Html.LabelFor(x => x.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Name, new { placeholder = Html.DisplayNameFor(x => x.Name), @class = "span6"/*, @disabled = "true", @readonly = "true"*/ })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(x => x.Description, new { placeholder = Html.DisplayNameFor(x => x.Description), @class = "autosize-transition span6" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>*@
        <div class="control-group">
            @Html.LabelFor(x => x.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Email, new { placeholder = Html.DisplayNameFor(x => x.Email), @class = "span6" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Password, new { placeholder = Html.DisplayNameFor(x => x.Password), @class = "span6" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        @*<div class="row-fluid">
            <div class="span6">
                <div class="span6 mleft0">
                    <div class="control-group">
                        @Html.LabelFor(x => x.Telephone, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Telephone, new { placeholder = Html.DisplayNameFor(x => x.Telephone), @class = "span12" })
                            @Html.ValidationMessageFor(m => m.Telephone)
                        </div>
                    </div>
                </div>
                <div class="span6 mleft0">
                    <div class="control-group">
                        @Html.LabelFor(x => x.CellPhone, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.CellPhone, new { placeholder = Html.DisplayNameFor(x => x.CellPhone), @class = "span12" })
                            @Html.ValidationMessageFor(m => m.CellPhone)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="control-group">
            @Html.LabelFor(x => x.Telephone, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Telephone, new { placeholder = Html.DisplayNameFor(x => x.Telephone), @class = "span6" })
                @Html.ValidationMessageFor(m => m.Telephone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.CellPhone, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.CellPhone, new { placeholder = Html.DisplayNameFor(x => x.CellPhone), @class = "span6" })
                @Html.ValidationMessageFor(m => m.CellPhone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Address, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Address, new { placeholder = Html.DisplayNameFor(x => x.Address), @class = "span6" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.MailingAddress, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.MailingAddress, new { placeholder = Html.DisplayNameFor(x => x.MailingAddress), @class = "span6" })
                @Html.ValidationMessageFor(m => m.MailingAddress)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.City, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.City, new { placeholder = Html.DisplayNameFor(x => x.City), @class = "span6" })
                @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.StateId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.StateId, Model.States, new { @class = "span6" })
                @Html.ValidationMessageFor(m => m.StateId)
            </div>
        </div>
        @*<div class="control-group">
            @Html.LabelFor(x => x.Country, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Country, new { placeholder = Html.DisplayNameFor(x => x.Country), @class = "span6" })
                @Html.ValidationMessageFor(m => m.Country)
            </div>
        </div>*@
        <div class="control-group">
            @Html.LabelFor(x => x.Zip, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Zip, new { placeholder = Html.DisplayNameFor(x => x.Zip), @class = "span6" })
                @Html.ValidationMessageFor(m => m.Zip)
            </div>
        </div>
        @*<div class="control-group">
            <div class="controls">
                @Html.CheckBoxFor(x => x.IsUseDirectory)
                @Html.LabelFor(x => x.IsUseDirectory, new { @class = "lbl" })
            </div>
        </div>*@

        <h3 class="header smaller lighter green">Family members</h3>

            @Html.Partial("_FamilyPeoplesPartial", new FamilyPeoplesModel
            {
                Guardians = Model.Guardians,
                Students = Model.Students,
                FamilyGuardians = Model.FamilyGuardians,
                FamilyStudents = Model.FamilyStudents
            })

            <div class="form-actions">
                <button onclick="javascript:$('#createFamilyForm').submit()" class="btn btn-success" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save family
                </button>
                <button onclick="javascript:location.href='@Url.Action("Index")'" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
            }
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            jQuery(function ($) {
                fpcs.family.initFamilyCreateEditPages();
            });
        </script>

        @Scripts.Render("~/bundles/jqueryval")
    }
