﻿@model FPCS.Web.Admin.Models.Family.FamilyEditModel
@using FPCS.Web.Admin.Models.Family;

@{
    ViewBag.Title = "Edit Family";
    ViewBag.Header = "Family Manager";
    ViewBag.SubHeader = "Edit Family";
}

@section head{
}

<div class="row-fluid">
    <div class="span6">

        <h3 class="header smaller lighter green">Main family information</h3>
    
        <div class="controls">
        </div>
    
        @Html.HiddenFor(x => x.FamilyId, new { id = "familyId" })

        <div class="control-group">
            @Html.LabelFor(x => x.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Email, new { placeholder = Html.DisplayNameFor(x => x.Email), @class = "span12", @readonly = "true" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Password, new { placeholder = Html.DisplayNameFor(x => x.Password), @class = "span12", @readonly = "true" })
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span6 mleft0">
                    <div class="control-group">
                        @Html.LabelFor(x => x.Telephone, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Telephone, new { placeholder = Html.DisplayNameFor(x => x.Telephone), @class = "span12", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="span6 mleft0">
                    <div class="control-group">
                        @Html.LabelFor(x => x.CellPhone, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.CellPhone, new { placeholder = Html.DisplayNameFor(x => x.CellPhone), @class = "span12", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Address, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Address, new { placeholder = Html.DisplayNameFor(x => x.Address), @class = "span12", @readonly = "true" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.MailingAddress, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.MailingAddress, new { placeholder = Html.DisplayNameFor(x => x.MailingAddress), @class = "span12", @readonly = "true" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.City, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.City, new { placeholder = Html.DisplayNameFor(x => x.City), @class = "span12", @readonly = "true" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.StateId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.StateId, Model.States, new { @class = "span12", @readonly = "true", @disabled = "true" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Zip, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Zip, new { placeholder = Html.DisplayNameFor(x => x.Zip), @class = "span12", @readonly = "true" })
            </div>
        </div>
    
        <h3 class="header smaller lighter green">Family members</h3>
    
        <div class="row-fluid">
            <div class="span10">
                <div class="span6">
                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-small">
                            <h4 class="blue smaller">
                                <span class="mright10 width105">
                                    <i class="icon-group grey"></i>
                                    Guardians
                                </span>
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main padding-8">
                                <div id="guardians-feed" class="profile-feed">
                                    @foreach (var user in Model.FamilyGuardians)
                                    {
                                        <div class="profile-activity clearfix">
                                            <div>
                                                <img class="pull-left" alt="Alex Doe's avatar" src="/Images/avatar2.png" />
                                                @user.FullName
                                                @if (!String.IsNullOrEmpty(user.CellPhone))
                                                {
                                                    <div class="time">
                                                        <i class="icon-phone  bigger-110"></i>
                                                        @user.CellPhone
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span6">
                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-small">
                            <h4 class="blue smaller">
                                <span class="mright10 width105">
                                    <i class="icon-group grey"></i>
                                    Students
                                </span>
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main padding-8">
                                <div id="students-feed" class="profile-feed">
                                    @foreach (var user in Model.FamilyStudents)
                                    {
                                        <div class="profile-activity clearfix">
                                            <div>
                                                <img class="pull-left" alt="Alex Doe's avatar" src="/Images/avatar2.png" />
                                                @user.FullName
                                                @if (user.GradYear > 0)
                                                {
                                                    <div class="time">
                                                        <i class="icon-calendar bigger-110"></i>
                                                        @user.GradYear
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button onclick="javascript:location.href='@Url.Action("Index")'" class="btn btn-info" type="button">
                <i class="icon-reply bigger-110"></i>
                Cancel
            </button>
        </div>

    </div>
    <div class="span6">
        <h3 class="header smaller lighter green">Monthly contact log</h3>

        <div class="span12 gridWrapper">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>

<div class="row-fluid">
    
</div>

@section Styles {
    @Styles.Render("~/Content/css/jqGrid")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script type="text/javascript">
        jQuery(function ($) {
            fpcs.family.initFamilyCreateEditPages();

            var familyId = $("#familyId").val();
            fpcs.monthlyContactLog.initIndexPage(familyId);
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}