﻿@model FPCS.Web.Admin.Models.Family.FamilyEditModel
@using FPCS.Web.Admin.Models.Family;

@{
    ViewBag.Title = "Edit Family";
    ViewBag.Header = "Family Manager";
    ViewBag.SubHeader = "Edit Family";
}

@section head{
}

<div class="row-fluid">
    <div class="span12">

        @using (Html.BeginForm("EditForGuardian", "Family", FormMethod.Post, new { id = "editFamilyForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
   
            <h3 class="header smaller lighter green">Main family information</h3>
    
            <div class="controls">
                @Html.ValidationSummary(true)
            </div>
    
            @Html.HiddenFor(x => x.FamilyId)

            @*<div class="control-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Name, new { @class = "span6", @readonly = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.Description, new { @class = "autosize-transition span6", @readonly = "true" })
                </div>
            </div>*@
            <div class="control-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Email, new { @class = "span6", @readonly = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Telephone, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Telephone, new { placeholder = Html.DisplayNameFor(x => x.Telephone), @class = "span6" })
                    @Html.ValidationMessageFor(m => m.Telephone)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Address, new { placeholder = Html.DisplayNameFor(x => x.Address), @class = "span6" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.City, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.City, new { placeholder = Html.DisplayNameFor(x => x.City), @class = "span6" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.StateId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.StateId, Model.States, new { @class = "span6" })
                    @Html.ValidationMessageFor(m => m.StateId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Country, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Country, new { placeholder = Html.DisplayNameFor(x => x.Country), @class = "span6" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Zip, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Zip, new { placeholder = Html.DisplayNameFor(x => x.Zip), @class = "span6" })
                    @Html.ValidationMessageFor(m => m.Zip)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IsUseDirectory)
                    @Html.LabelFor(x => x.IsUseDirectory, new { @class = "lbl" })
                </div>
            </div>
    
            <h3 class="header smaller lighter green">Family members</h3>
    
            @Html.Partial("_FamilyPeoplesGuardianPartial", new FamilyPeoplesModel
            {
                Guardians = Model.Guardians,
                Students = Model.Students,
                FamilyGuardians = Model.FamilyGuardians,
                FamilyStudents = Model.FamilyStudents
            })

            <div class="form-actions">
                <button onclick="javascript:$('#editFamilyForm').submit()" class="btn btn-success" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save Family
                </button>
                <button onclick="javascript:location.href='@Url.Action("DetailsForGuardian")'" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        jQuery(function ($) {
            fpcs.family.initFamilyCreateEditPages();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}