﻿@model FPCS.Web.Admin.Models.Family.FamilyIndexModel

@{
    ViewBag.Title = "Family Manager";
    ViewBag.Header = "Family Manager";
}

@section Styles {
    @Styles.Render("~/Content/css/jqGrid")
}

<div class="span12">
    <div class="control-group control-group-item">
        <label class="control-label">Filter by name</label>
        <div class="controls">
            <div class="input-group">
                <div class="input-append wdth250">
                    @Html.DropDownList("Family", Model.Families, new { id = "ddlFamily" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 gridWrapper">
       <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script type="text/javascript">
        jQuery(function ($) {
            fpcs.family.initIndexPage();
        });
    </script>
}