﻿@model FPCS.Web.Admin.Models.GoodAndService.ServiceASDClassModel
@using FPCS.Data.Enums

@using (Html.BeginForm("__ServiceASDClass", "GoodAndService", FormMethod.Post, new { id = "createGoodOrServiceForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
   
    <div class="controls">
        @Html.ValidationSummary(true)
    </div>
   
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.StudentPacketCourseId)
    @Html.HiddenFor(x => x.CourseId)
    @Html.HiddenFor(x => x.GoodOrService)
    @Html.HiddenFor(x => x.RequisitionOrReimbursement)
    @Html.HiddenFor(x => x.TypeRequisitionReimbursement)
    @Html.HiddenFor(x => x.VendorId)

    <div class="control-group">
        @Html.LabelFor(x => x.HighSchool, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(x => x.HighSchool, Model.HighSchools, "Select an Option", new { @class = "span6" })
            @Html.ValidationMessageFor(m => m.HighSchool)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.AdminComments, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(x => x.AdminComments, new { placeholder = Html.DisplayNameFor(x => x.AdminComments), @class = "span6" })
            @Html.ValidationMessageFor(m => m.AdminComments)
        </div>
    </div>
    
    if (!Html.IsAccessEnabled(Role.Guardian))
    {
        <div class="control-group">
            @Html.LabelFor(x => x.ApprovalGivenBy, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.ApprovalGivenBy, Model.ApprovalGivenBys, "Select an Option", new { @class = "span6" })
                @Html.ValidationMessageFor(m => m.ApprovalGivenBy)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Aprv, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.Aprv, Model.Aprvs, "", new { data_placeholder = "Find approval", @class = "span6" })
                @Html.ValidationMessageFor(m => m.Aprv)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                @Html.CheckBoxFor(x => x.IsClosed)
                @Html.LabelFor(x => x.IsClosed, new { @class = "lbl" })
                @Html.ValidationMessageFor(m => m.IsClosed)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(x => x.ApprovalGivenBy)
        @Html.HiddenFor(x => x.Aprv)
        @Html.HiddenFor(x => x.IsClosed)
    }
    
    <div class="control-group">
        @Html.LabelFor(x => x.NumberOfSemesters, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.NumberOfSemesters, new { placeholder = Html.DisplayNameFor(x => x.NumberOfSemesters), @class = "span6" })
            @Html.ValidationMessageFor(m => m.NumberOfSemesters)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.CostPerSemester, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.CostPerSemester, new { placeholder = Html.DisplayNameFor(x => x.CostPerSemester), @class = "span6" })
            @Html.ValidationMessageFor(m => m.CostPerSemester)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Total, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.Total, new { placeholder = Html.DisplayNameFor(x => x.Total), @class = "span6", @disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.Total)
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-success createGoodService" type="button">
            <i class="icon-ok bigger-110"></i>
            Save service
        </button>
        <button class="btn btn-info cancelGoodService" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.goodService.initServiceASDClassSaveDialog();
    });
</script>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))
