﻿@model FPCS.Web.Admin.Models.GoodAndService.ServiceUniversityCourseModel
@using FPCS.Data.Enums

@using (Html.BeginForm("__ServiceUniversityCourse", "GoodAndService", FormMethod.Post, new { id = "createGoodOrServiceForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
   
    <div class="controls">
        @Html.ValidationSummary(true)
    </div>
   
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.StudentPacketCourseId)
    @Html.HiddenFor(x => x.CourseId)
    @Html.HiddenFor(x => x.GoodOrService)
    @Html.HiddenFor(x => x.RequisitionOrReimbursement)
    @Html.HiddenFor(x => x.TypeRequisitionReimbursement)
    @Html.HiddenFor(x => x.VendorId)
    
    <div class="control-group">
        @Html.LabelFor(x => x.ClassType, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(x => x.ClassType, Model.ClassTypes, "Select an Option", new { @class = "span6" })
            @Html.ValidationMessageFor(m => m.ClassType)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.CourseTitle, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.CourseTitle, new { placeholder = Html.DisplayNameFor(x => x.CourseTitle), @class = "span6" })
            @Html.ValidationMessageFor(m => m.CourseTitle)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.CourseNumber, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.CourseNumber, new { placeholder = Html.DisplayNameFor(x => x.CourseNumber), @class = "span6" })
            @Html.ValidationMessageFor(m => m.CourseNumber)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.DateBirth, new { @class = "control-label" })
        <div class="controls">
            <div class="row-fluid input-append">
                @Html.TextBoxFor(x => x.DateBirth, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.DateBirth), @class = "span5 date-mask", data_date_format = "mm/dd/yyyy" })
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
                @Html.ValidationMessageFor(m => m.DateBirth)
            </div>
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Credits, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(x => x.Credits, Model.CreditsList, "Select an Option", new { @class = "span6" })
            @Html.ValidationMessageFor(m => m.Credits)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Semester, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(x => x.Semester, Model.Semesters, "Select an Option", new { @class = "span6" })
            @Html.ValidationMessageFor(m => m.Semester)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.AdminComments, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(x => x.AdminComments, new { placeholder = Html.DisplayNameFor(x => x.AdminComments), @class = "span6" })
            @Html.ValidationMessageFor(m => m.AdminComments)
        </div>
    </div>
    
    if (!Html.IsAccessEnabled(Role.Guardian))
    {
        <div class="control-group">
            @Html.LabelFor(x => x.ApprovalGivenBy, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.ApprovalGivenBy, Model.ApprovalGivenBys, "Select an Option", new { @class = "span6" })
                @Html.ValidationMessageFor(m => m.ApprovalGivenBy)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Aprv, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.Aprv, Model.Aprvs, "", new { data_placeholder = "Find approval", @class = "span6" })
                @Html.ValidationMessageFor(m => m.Aprv)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                @Html.CheckBoxFor(x => x.IsClosed)
                @Html.LabelFor(x => x.IsClosed, new { @class = "lbl" })
                @Html.ValidationMessageFor(m => m.IsClosed)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(x => x.ApprovalGivenBy)
        @Html.HiddenFor(x => x.Aprv, Model.Aprvs)
        @Html.HiddenFor(x => x.IsClosed)
    }
    
    <div class="control-group">
        @Html.LabelFor(x => x.NumberOfUnits, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.NumberOfUnits, new { placeholder = Html.DisplayNameFor(x => x.NumberOfUnits), @class = "span6" })
            @Html.ValidationMessageFor(m => m.NumberOfUnits)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.UnitPrice, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.UnitPrice, new { placeholder = Html.DisplayNameFor(x => x.UnitPrice), @class = "span6" })
            @Html.ValidationMessageFor(m => m.UnitPrice)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Total, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.Total, new { placeholder = Html.DisplayNameFor(x => x.Total), @class = "span6", @disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.Total)
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-success createGoodService" type="button">
            <i class="icon-ok bigger-110"></i>
            Save service
        </button>
        <button class="btn btn-info cancelGoodService" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.goodService.initServiceUniversityCourseSaveDialog();
    });
</script>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))
