﻿@model FPCS.Web.Admin.Models.GoodAndService.TableGoodAndServiceModel

<div id="goodAndService" class="tab-pane">
    <h3 class="header smaller lighter green clearfix">
        Goods And Services
        <button id="prePrintGoodOrService" class="btn btn-print btn-small pull-right ml5">Print</button>
        <button id="addGoodOrServiceDialog" class="btn btn-success btn-small pull-right">Add Good Or Service</button>
    </h3>

    <div id="tableGoodAndService">
        @Html.Partial("../GoodAndService/_TableGoodAndService", Model)
    </div>

    <div id="itemGoodAndService">

    </div>

    <div id="formGoodAndService">

    </div>
</div>