﻿@model FPCS.Web.Admin.Models.GoodAndService.PrintGoodAndServiceModel

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td align="right" class="svplain10">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
            <tr class="yellowHeader">
                <td colspan="2">
                    <table align="right" id="Table26">
                        <tbody>
                            <tr>
                                <td align="right">
                                    <font size="2" face="arial" color="white">
                                        @Model.PrintDateNow</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;<b>Goods and Services</b>
                </td>
            </tr>
            <tr>
                <td class="svplain10">
                    <nobr>Class Name: @Model.ClassName</nobr><br><nobr>Student Name: @Model.StudentName</nobr>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="1" cellspacing="0" cellpadding="3" id="Table24">
        <tbody>
            <tr>
                <td align="center" class="svplain10">
                    <b>Category</b>
                </td>
                <td align="center" class="svplain10">
                    <b>Vendor</b>
                </td>
                <td align="center" class="svplain10">
                    <b>Name</b>
                </td>
                <td align="center" class="svplain10">
                    <b>Cons</b>
                </td>
                <td align="center" class="svplain10">
                    <b>Dates</b>
                </td>
                <td align="center" class="svplain10">
                    <b>Total</b>
                </td>
                <td align="center" class="svplain10">
                    <b>Status</b>
                </td>
            </tr>
            
            @foreach (var item in Model.GoodsAndServices)
            {
            <tr>
                <td align="center" class="grayStrike">
                    &nbsp;@item.BudgetItem
                </td>
                <td align="center" class="grayStrike">
                    &nbsp;@item.Vendor
                </td>
                <td align="center" class="grayStrike">
                    &nbsp;@item.Description
                </td>
                <td align="center" class="grayStrike">
                    &nbsp;@item.Consumable
                </td>
                <td align="center" class="grayStrike">
                    &nbsp;@item.Dates
                </td>
                <td align="right" class="grayStrike">
                    &nbsp;@item.BudgetTotal
                </td>
                <td align="center" class="svplain10">
                    &nbsp;@item.Status
                </td>
            </tr>
            }
            <tr>
                <td align="right" class="svplain10" colspan="5">
                    <b>Grand Total:</b>
                </td>
                <td align="right" class="svplain10">
                    $@Model.GrandTotal
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>