﻿@model FPCS.Web.Admin.Models.GoodAndService.TableGoodAndServiceModel
@using FPCS.Data.Enums

<table id="goodAndServiceTable" class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].LineItems)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].BudgetItem)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].Vendor)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].Status)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].Description)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].QTY)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].UnitCost)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].SH)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].BudgetTotal)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].ActualCharges)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].BudgetAdjust)</th>
            <th>@Html.DisplayNameFor(x => x.GoodsAndServices[0].BudgetBalance)</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.GoodsAndServices.Count == 0)
        {
            <tr>
                <td colspan="13">
                    <div class="no_GoodService_mesage">No goods and services at the moment</div>
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.GoodsAndServices)
            {
                if (item.GoodAndServiceBalanceID == 0 || item.IsInstructor)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x => item.GoodAndServiceID, new { @class = "hdnGoodAndService" })
                            <a href="#" hiddenAttr="show" onclick="fpcs.goodService.showOrHideLineItems(this, event)">@Html.DisplayTextFor(x => item.LineItems)</a>
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.BudgetItem)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.Vendor)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.Status)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.Description)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.QTY)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.UnitCost)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.SH)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.BudgetTotal)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.ActualCharges)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.BudgetAdjust)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.BudgetBalance)
                        </td>
                        <td>
                            @if (!item.IsInstructor && (Html.GetUser().Role != Role.Guardian || (Html.GetUser().Role == Role.Guardian && !item.IsClosed)))
                            {
                                <div class="action-buttons">
                                    <a class="blue gridRowEditGoodAndService" href="#" rowid="@item.GoodAndServiceID"><i class="icon-pencil bigger-130"></i></a>
                                    <a class="red gridRowDeleteGoodAndService" href="#"  rowid="@item.GoodAndServiceID"><i class="icon-trash bigger-130"></i></a>
                                </div>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr bgcolor="#DDDDDD" gs="@item.GoodAndServiceID" style="display:none">
                        <td>
                            @Html.HiddenFor(x => item.GoodAndServiceID, new { @class = "hdnGoodAndService" })
                            @Html.HiddenFor(x => item.GoodAndServiceBalanceID, new { @class = "hdnGoodAndServiceBalance" })
                        </td>
                        <td colspan="3">
                            @Html.DisplayTextFor(x => item.BudgetItem)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.Description)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.QTY)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.UnitCost)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.SH)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.BudgetTotal)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => item.ActualCharges)
                        </td>
                        <td colspan="3">
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>