﻿@model FPCS.Web.Admin.Models.Student.StudentDetailsModel

<div class="row-fluid form-horizontal">
    <div class="row-fluid">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#studentInformationTab">Student Information</a>
				</li>

			    @*<li>
			        <a data-toggle="tab" href="#iepTab">IEP</a>
			    </li>*@
                
                <li>
				    <a data-toggle="tab" href="#ilpPhilosophyTab">ILP Philosophy</a>
			    </li>
			</ul>

			<div class="tab-content">
                <div id="studentInformationTab" class="tab-pane in active">
                    <div class="control-group">
                        <div class="controls">
                            <h3 class="lighter block green">Student Information</h3>
                        </div>
                    </div>

                    @Html.HiddenFor(x => x.DbUserId)

                    <div class="control-group">
                        @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.MiddleInitial, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.MiddleInitial, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Email, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Sex, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(x => x.Sex, Model.Sexes, new { @class = "span9", @readonly = "true", disabled = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Grade, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(x => x.Grade, Model.Grades, new { @class = "span9", @readonly = "true", disabled = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.GradYear, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(x => x.GradYear, Model.GradYears, new { @class = "span9", @readonly = "true", disabled = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.EnrollmentStatus, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(x => x.EnrollmentStatus, Model.EnrollmentStatuses, "Select an Option", new { @class = "span9", @readonly = "true", disabled = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.EnrollmentDate, new { @class = "control-label" })
                        <div class="controls">
                            <div class="row-fluid input-append">
                                @Html.TextBoxFor(x => x.EnrollmentDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.EnrollmentDate), @class = "span9 date-picker", data_date_format = "mm/dd/yyyy", @readonly = "true", disabled = "true" })
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ZangleID, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.ZangleID, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>

                    @if (Model.EnrollmentStatus.HasValue && Model.EnrollmentStatus.Value == FPCS.Data.Enums.EnrollmentStatus.ConditionallyEnrolled)
                    {
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsBirthCertificate, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsBirthCertificate, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsGradesNotSubmitted, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsGradesNotSubmitted, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsILPPhilosophy, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsILPPhilosophy, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsMedicalRelease, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsMedicalRelease, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsProgressReportSignature, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsProgressReportSignature, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsShotRecords, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsShotRecords, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsTestingAgreement, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsTestingAgreement, new { @class = "lbl" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @Html.CheckBoxFor(x => x.IsOther, new { @readonly = "true", disabled = "true" })
                                @Html.LabelFor(x => x.IsOther, new { @class = "lbl" })
                            </div>
                        </div>
                    }

                    <div class="control-group">
                        @Html.LabelFor(x => x.DateOfBirth, new { @class = "control-label" })
                        <div class="controls ">
                            <div class="row-fluid input-append">
                                @Html.TextBoxFor(x => x.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "span3", @readonly = "true" })
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.WithdrawalDate, new { @class = "control-label" })
                        <div class="controls">
                            <div class="row-fluid input-append">
                                @Html.TextBoxFor(x => x.WithdrawalDate, "{0:MM/dd/yyyy}", new { @class = "span3 date-picker", @readonly = "true" })
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="span10">
                            @Html.LabelFor(x => x.PrivateSchoolName, new { @class = "" })
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.PrivateSchoolName, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            @Html.CheckBoxFor(x => x.IsGraduateFromFPCS, new { @readonly = "true", disabled = "true" })
                            @Html.LabelFor(x => x.IsGraduateFromFPCS, new { @class = "lbl" })
                        </div>
                    </div>
                    @*<div class="control-group">
                        <div class="span10">
                            @Html.LabelFor(x => x.PercentInSchoolDistrict, new { @class = "" })
                        </div>
                        <div class="controls">
                            @Html.DropDownListFor(x => x.PercentInSchoolDistrict, Model.PercentsInSchoolDistrict, new { @class = "span9", @readonly = "true", disabled = "true" })
                        </div>
                    </div>*@
                    <div class="control-group">
                        <div class="span10">
                            @Html.LabelFor(x => x.PercentagePlanningEnroll, new { @class = "" })
                        </div>
                        <div class="controls">
                            @Html.DropDownListFor(x => x.PercentagePlanningEnroll, Model.PercentsInPercentagePlanningEnroll, new { @class = "span9", @readonly = "true", disabled = "true" })
                        </div>
                    </div>
                    @*<div class="control-group">
                        <div class="controls">
                            @Html.CheckBoxFor(x => x.IsASDContractHoursExemption, new { @readonly = "true", disabled = "true" })
                            @Html.LabelFor(x => x.IsASDContractHoursExemption, new { @class = "lbl" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ReasonASDContractHoursExemption, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.ReasonASDContractHoursExemption, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.CoreCreditExemption, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.CoreCreditExemption, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.CoreCreditExemptionReason, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.CoreCreditExemptionReason, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ElectiveCreditExemption, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.ElectiveCreditExemption, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ElectiveCreditExemptionReason, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.ElectiveCreditExemptionReason, new { @class = "span9", @readonly = "true" })
                        </div>
                    </div>*@

                    <div class="form-actions">
                        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                            <i class="icon-reply bigger-110"></i>
                            Close
                        </button>
                    </div>
				</div>

			    @*<div id="iepTab" class="tab-pane">
			        @Html.Action("_DetailsIEP", "Student", new { id = Model.DbUserId })
			    </div>*@
                
                <div id="ilpPhilosophyTab" class="tab-pane">
				    @Html.Action("_DetailsILPPhilosophy", "Student", new { id = Model.DbUserId })
			    </div>
			</div>
		</div>
    </div>
</div>
