﻿@model FPCS.Web.Admin.Models.Student.StudentILPPhilosophyEditModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_EditILPPhilosophy", "Student", FormMethod.Post, new { id = "editStudentILPPhilosophyForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
   
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can edit the ILP Philosophy of Student</h3>
                </div>
            </div>
    
            <div class="controls">
                @Html.ValidationSummary(true)
            </div>
            
            @Html.HiddenFor(x => x.DbUserId)

            <div class="control-group">
                @Html.LabelFor(x => x.Value)
                <div>
                    <div class="row-fluid input-append">
                        @Html.TextAreaFor(x => x.Value, new { @class = "span12", @style="min-height:150px" })
                        @Html.ValidationMessageFor(x => x.Value)
                    </div>
                </div>
            </div>
            
            for (var i = 0; i < Model.Students.Count; i++)
            {
                <div class="control-group">
                    <div class="controls">
                        @Html.HiddenFor(x => Model.Students[i].StudentId)
                        @Html.CheckBoxFor(x => Model.Students[i].IsChecked)
                        <label for="IsChecked" class="lbl">@Model.Students[i].Name</label>
                    </div>
                </div>
            }
    
            <div class="form-actions">
                <button class="btn btn-success editStudentILPPhilosophySend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save student
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))