﻿@model FPCS.Web.Admin.Models.Student.StudentIEPEditModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_EditIEP", "Student", FormMethod.Post, new { id = "editStudentIEPForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
   
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can edit the IEP of Student</h3>
                </div>
            </div>
    
            <div class="controls">
                @Html.ValidationSummary(true)
            </div>
            
            @Html.HiddenFor(x => x.DbUserId)

            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHasChildEligible, new { })
                    @Html.LabelFor(x => x.IEPHasChildEligible, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPGiftedTalented, new { })
                    @Html.LabelFor(x => x.IEPGiftedTalented, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPDeafBlindness, new { })
                    @Html.LabelFor(x => x.IEPDeafBlindness, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHearingImpairment, new { })
                    @Html.LabelFor(x => x.IEPHearingImpairment, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPMultipleDisability, new { })
                    @Html.LabelFor(x => x.IEPMultipleDisability, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPTraumaticBrainInjury, new { })
                    @Html.LabelFor(x => x.IEPTraumaticBrainInjury, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPAutismAsbergerSyndrome, new { })
                    @Html.LabelFor(x => x.IEPAutismAsbergerSyndrome, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPEarlyChildhoodDevelopmentalDelay, new { })
                    @Html.LabelFor(x => x.IEPEarlyChildhoodDevelopmentalDelay, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPSpecificLearningDisability, new { })
                    @Html.LabelFor(x => x.IEPSpecificLearningDisability, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPOrthopedicImpairment, new { })
                    @Html.LabelFor(x => x.IEPOrthopedicImpairment, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPSpeechLanguageImpairment, new { })
                    @Html.LabelFor(x => x.IEPSpeechLanguageImpairment, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPDeafness, new { })
                    @Html.LabelFor(x => x.IEPDeafness, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPEmotionalDisturbance, new { })
                    @Html.LabelFor(x => x.IEPEmotionalDisturbance, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPMentalRetardation, new { })
                    @Html.LabelFor(x => x.IEPMentalRetardation, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPOtherHealthImpairment, new { })
                    @Html.LabelFor(x => x.IEPOtherHealthImpairment, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPVisualImpairment, new { })
                    @Html.LabelFor(x => x.IEPVisualImpairment, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHasChildReceiving, new { })
                    @Html.LabelFor(x => x.IEPHasChildReceiving, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHasChildFormally, new { })
                    @Html.LabelFor(x => x.IEPHasChildFormally, new { @class = "lbl" })
                </div>
            </div>
        
            <div class="control-group">
                @Html.LabelFor(x => x.IEPIsExpirationDate, new { @class = "control-label" })
                <div class="controls ">
                    <div class="row-fluid input-append">
                        @Html.TextBoxFor(x => x.IEPIsExpirationDate, "{0:MM/dd/yyyy}", new { @class = "span3 date-picker", data_date_format = "mm/dd/yyyy" })
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.IEPIsNextEligibilityEvaluation, new { @class = "control-label" })
                <div class="controls ">
                    <div class="row-fluid input-append">
                        @Html.TextBoxFor(x => x.IEPIsNextEligibilityEvaluation, "{0:MM/dd/yyyy}", new { @class = "span3 date-picker", data_date_format = "mm/dd/yyyy" })
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHasChildLearnedAnotherLanguage, new { })
                    @Html.LabelFor(x => x.IEPHasChildLearnedAnotherLanguage, new { @class = "lbl" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.OtherLanguage, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.OtherLanguage, Model.OtherLanguages, new { @class = "span9" })
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPIsChildEligibleBilingualProgram, new { })
                    @Html.LabelFor(x => x.IEPIsChildEligibleBilingualProgram, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHasChildCurrentlyReceivingServicesBilingualProgram, new { })
                    @Html.LabelFor(x => x.IEPHasChildCurrentlyReceivingServicesBilingualProgram, new { @class = "lbl" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IEPHasChildReceivingServicesMigrantEducation, new { })
                    @Html.LabelFor(x => x.IEPHasChildReceivingServicesMigrantEducation, new { @class = "lbl" })
                </div>
            </div>
    
            <div class="form-actions">
                <button class="btn btn-success editStudentIEPSend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save student
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))