﻿@model FPCS.Web.Admin.Models.Student.TableStudentPrintModel

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td align="right" class="svplain10">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
            <tr class="yellowHeader">
                <td colspan="2">
                    <table align="right" id="Table26">
                        <tbody>
                            <tr>
                                <td align="right">
                                    <font size="2" face="arial" color="white">
                                        @Model.PrintDateNow</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover" style="font-size:13px">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Guardians</th>
                <th>Email</th>
                <th>Enrollment Status</th>
                <th>Enrollment Date</th>
                <th>Sex</th>
                <th>Grade</th>
                <th>Withdrawal Date</th>
                <th>Zangle ID</th>
                <th>Is Locked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    @if (item.WithdrawalDate != "")
                    {
                        <td class="red">@item.FullName</td>
                    }
                    else
                    {
                        <td>@item.FullName</td>
                    }                    
                    <td>@item.Guardians</td>
                    <td>@item.Email</td>
                    <td>@item.EnrollmentStatus</td>
                    <td>@item.EnrollmentDate</td>
                    <td>@item.Sex</td>
                    <td>@item.Grade</td>
                    <td>@item.WithdrawalDate</td>
                    <td>@item.ZangleID</td>
                    <td>@item.IsLocked</td>
                </tr>
            }
        </tbody>
    </table>
</div>