﻿@model FPCS.Web.Admin.Models.Student.StudentIndexModel
@using FPCS.Data.Enums

@{
    ViewBag.Title = "Student Manager";
    ViewBag.Header = "Student Manager";
}

@Html.Hidden("Sexs", Model.Sex, new { id = "sexs" })
@Html.Hidden("Grades", Model.Grade, new { id = "grades" })
@Html.Hidden("EnrollmentStatuses", Model.EnrollmentStatus, new { id = "enrollmentStatuses" })

@if (Html.IsAccessEnabled(Role.Admin))
{
    <div class="span12">
        <div class="control-group control-group-item">
            <label class="control-label">Filter by name</label>
            <div class="controls">
                <div class="input-group">
                    <div class="input-append wdth250">
                        @Html.DropDownList("Student", Model.Students, new { id = "ddlStudent" })
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group control-group-item">
            <label class="control-label">Filter by teacher</label>
            <div class="controls">
                <div class="input-group">
                    <div class="input-append">
                        @Html.DropDownList("Teacher", Model.Teachers, new { id = "ddlTeacher" })
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group control-group-item">
            <label class="control-label">Filter by course</label>
            <div class="controls">
                <div class="input-group">
                    <div class="input-append">
                        @Html.DropDownList("FPCSCourse", Model.FPCSCourses, new { id = "ddlFPCSCourse" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span12 gridWrapper">
       <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/css/jqGrid")

    <style type="text/css">
        #ddlStudent {
            width: 250px !important;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script type="text/javascript">
        jQuery(function ($) {

            fpcs.student.initIndexPage();

            window.addEventListener("resize", function () {
                $('.chzn-container').innerWidth($('#selecciona_paciente_estadisticas_form').innerWidth());
                $('.chzn-search input').innerWidth($('#selecciona_paciente_estadisticas_form').innerWidth() - 12);
                $('.chzn-drop').innerWidth($('#selecciona_paciente_estadisticas_form').innerWidth() - 2);
            }, false);
        });
    </script>
}