﻿@model IEnumerable<FPCS.Web.Admin.Models.FPCSCourse.CourseScheduleOnDayModel>
@using FPCS.Core.Extensions

@{
    var dayOfWeek = (DayOfWeek)ViewBag.DayOfWeek;
    var day = Model == null ? null : Model.FirstOrDefault(x => x.DayOfWeek == dayOfWeek);
    var isDayNull = day == null;
    var isFullDisable = ViewBag.FullDisable != null && ViewBag.FullDisable == true;
    
    var courseScheduleOnDayId = isDayNull ? 0 : day.CourseScheduleOnDayId;
    var startTimeSpan = isDayNull ? TimeSpan.FromHours(12) : day.StartTimeSpan;
    var endTimeSpan = isDayNull ? TimeSpan.FromHours(12) : day.EndTimeSpan;
    var startTime = isDayNull ? "12:00 AM" : day.StartTime;
    var endTime = isDayNull ? "12:00 AM" : day.EndTime;
    var disabled = isDayNull || isFullDisable ? "readonly = true disabled = true" : "";
    var checkboxDisabled = isFullDisable ? "readonly = true disabled = true" : "";
    var checkbox = isDayNull ? "" : "checked = checked";
}

<div class="controls dayDiv">
    <input type="hidden" @disabled name="CourseScheduleOnDays.Index" value="@dayOfWeek"  />
    <input type="hidden" @disabled name="CourseScheduleOnDays[@dayOfWeek].DayOfWeek" value="@dayOfWeek"/>
    <input type="hidden" @disabled name="CourseScheduleOnDays[@dayOfWeek].CourseScheduleOnDayId" value="@courseScheduleOnDayId"/>
    <div class="span3 minw95 mleft0 dayCheckboxDiv">
        <input type="checkbox" @checkbox @checkboxDisabled class="" />
        <span class="lbl">@dayOfWeek.GetDescription()</span>
    </div>
    <div class="span8">
        <div class="input-append bootstrap-timepicker">
            <input type="text" @disabled name="CourseScheduleOnDays[@dayOfWeek].StartTime" value="@startTime" class="input-mini"/>
            <span class="add-on">
                <i class="icon-time"></i>
            </span>
        </div>
        <div class="input-append bootstrap-timepicker">
            <input type="text" @disabled name="CourseScheduleOnDays[@dayOfWeek].EndTime" value="@endTime" class="input-mini"/>
            <span class="add-on">
                <i class="icon-time"></i>
            </span>
        </div>
    </div>
</div>
