﻿@model FPCS.Web.Admin.Models.FPCSCourse.FPCSCourseDetailsModel
@using FPCS.Core.Extensions;

<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span12">

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can view the FPCS Course</h3>
                </div>
            </div>

            <div class="control-group without-margin">
                <div class="controls">
                    <h4>Who will teach the course?</h4>
                </div>
            </div>

            @Html.HiddenFor(x => x.FPCSCourseId)

            <div class="control-group">
                <div class="controls">
                    <div class="span3">
                        @Html.LabelFor(x => x.Teacher)
                        @Html.TextBoxFor(x => x.Teacher, new { @class = "span12", @readonly = "true" })
                    </div>
                </div>

                <div class="controls">
                    <div class="span1">
                    </div>
                </div>

                <div class="controls">
                    <div class="span3">
                        @Html.LabelFor(x => x.Guardian)
                        @Html.TextBoxFor(x => x.Guardian, new { @class = "span12", @readonly = "true" })
                    </div>
                </div>

                <div class="controls">
                    <div class="span1">
                    </div>
                </div>

                <div class="controls">
                    <div class="span3">
                        @Html.LabelFor(x => x.Vendor)
                        @Html.TextBoxFor(x => x.Vendor, new { @class = "span12", @readonly = "true" })
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.ASDCourse, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ASDCourse, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group" style="display:none">
                @Html.LabelFor(x => x.ASDCourseCredit, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ASDCourseCredit, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group" style="display:none">
                @Html.LabelFor(x => x.ASDCourseDescription, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.ASDCourseDescription, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Name, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Location, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Location, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ClassTypeText, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ClassTypeText, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <div class="span12 minw265">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Semester, new { @class = "control-label" })
                            <div class="controls ">
                                <div class="row-fluid input-append">
                                    @Html.TextBox("Semester", Model.Semester.GetDescription(), new { @class = "span12", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span10">
                    <div class="span12 minw265 mleft0">
                        <div class="control-group" id="registrationDeadlineDiv">
                            @Html.LabelFor(x => x.RegistrationDeadline, new { @class = "control-label" })
                            <div class="controls ">
                                <div class="row-fluid input-append">
                                    @Html.TextBoxFor(x => x.RegistrationDeadline, "{0:MM/dd/yyyy}", new { @class = "span12", @readonly = "true" })
                                    <span class="add-on">
                                        <i class="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" id="minMaxStudentsGradesDiv">
                <div class="span10">
                    <div class="span6 minw160">
                        <div class="control-group">
                            @Html.LabelFor(x => x.MinStudentsCount, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(x => x.MinStudentsCount, new { @class = "input-mini", @readonly = "true" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.MaxStudentsCount, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(x => x.MaxStudentsCount, new { @class = "input-mini", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="span6 minw250 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.MinGrade, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBox("MinGrade", Model.MinGrade.GetDescription(), new { @class = "span12", @readonly = "true" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.MaxGrade, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBox("MaxGrade", Model.MaxGrade.GetDescription(), new { @class = "span12", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span9">
                        @Html.CheckBoxFor(x => x.IsActivated, new { @readonly = "true", disabled = "true" })
                        @Html.LabelFor(x => x.IsActivated, new { @class = "lbl" })
                    </div>
                </div>
            </div>
            <div class="hr hr-dotted" id="courseForFamiliesHrDiv"></div>
            <div class="control-group" id="courseForFamiliesDiv">
                @Html.LabelFor(x => x.CourseForFamilies, new { @class = "control-label" })
                <div class="controls">
                    <div class="span9">
                        <label>
                            If the box below is empty then this class will be open to all families otherwise the class will only be accessible to the listed families.
                        </label>
                        @Html.ListBoxFor(x => x.CourseForFamilies, new SelectList(Model.CourseForFamilies), new { @class = "span9", @readonly = "true", disabled = "true" })
                    </div>
                </div>
            </div>
            <div id="scheduleRepetitionDiv">
                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    @Html.LabelFor(x => x.ScheduleRepetition, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBox("ScheduleRepetition", Model.ScheduleRepetition.GetDescription(), new { @class = "span8", @readonly = "true" })
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Monday }, { "FullDisable", true } })
                        <div class="otherDays">
                            @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Tuesday }, { "FullDisable", true } })
                            @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Wednesday }, { "FullDisable", true } })
                            @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Thursday }, { "FullDisable", true } })
                            @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Friday }, { "FullDisable", true } })
                            @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Saturday }, { "FullDisable", true } })
                            @Html.Partial("_CourseScheduleOnDayPartial", Model.CourseScheduleOnDays, new ViewDataDictionary() { { "DayOfWeek", DayOfWeek.Sunday }, { "FullDisable", true } })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.ScheduleComments, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(x => x.ScheduleComments, new { @class = "span8", @readonly = "true", disabled = "true" })
                    </div>
                </div>
            </div>

            @if (String.IsNullOrEmpty(Model.Guardian))
            {
                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <div class="controls">
                        <h3 class="lighter green">Class Costs</h3>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        @Html.TextBoxFor(x => x.HoursWithAllStudents, "{0:0.0}", new { @class = "input-mini", @readonly = "true" })
                        @Html.LabelFor(x => x.HoursWithAllStudents, new { @class = "lbl" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        @Html.TextBoxFor(x => x.HoursTeacherPlanning, "{0:0.0}", new { @class = "input-mini", @readonly = "true" })
                        @Html.LabelFor(x => x.HoursTeacherPlanning, new { @class = "lbl" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="totalTeacherHours" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Total teacher hours</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        @Html.TextBoxFor(x => x.EnrolledCount, new { @class = "input-mini", @readonly = "true" })
                        @Html.LabelFor(x => x.EnrolledCount, new { @class = "lbl" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="minHoursPerStudent" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Minimum number of hours to be charged to each student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="maxHoursPerStudent" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Maximum number of hours to be charged to each student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="hoursChargedPerStudent" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Current number of hours to be charged to each student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        @Html.HiddenFor(x => x.TeachersHourlyRate)
                        @Html.TextBox("TeachersHourlyRateStr", Model.TeachersHourlyRate, "${0:0.00}", new { @class = "input-mini", @readonly = "true" })
                        @Html.LabelFor(x => x.TeachersHourlyRate, new { @class = "lbl" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="minTotalTeacherCost" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Minimum total teacher cost per student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="maxTotalTeacherCost" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Maximum total teacher cost per student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="teacherCostPerStudent" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Current total teacher cost per student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="totalCourseCost" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Total cost of course</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="totalMiscellaneousCosts" type="text" class="input-mini" readonly="true" value="$0" />
                        <label class="lbl">Total miscellaneous costs per student</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="minTotalDeduction" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Minimum total deduction per student account</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="maxTotalDeduction" type="text" class="input-mini" readonly="true" />
                        <label class="lbl">Maximum total deduction per student account</label>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-print printFPCSCourse" type="button">
            <i class="icon-print bigger-110"></i>
            Print FPCS Course
        </button>
        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Close
        </button>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.fpcsCourse.initPrintDetailsDialog();
        //fpcs.fpcsCourse.initVisibleArea();
    });
</script>