﻿@model FPCS.Web.Admin.Models.FPCSCourse.FPCSCourseEditModel
@using FPCS.Core.Extensions
@using FPCS.Data.Enums

@using (Html.BeginForm("_Edit", "FPCSCourse", FormMethod.Post, new { id = "editFPCSCourseForm", @class = "form-horizontal" }))
{
    <div class="row-fluid">
        <div class="span12">
            @Html.AntiForgeryToken()

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can edit the FPCS Course</h3>
                </div>
            </div>

            <div class="controls">
                @Html.ValidationSummary(true)
            </div>

            @Html.HiddenFor(x => x.FPCSCourseId)
            @Html.HiddenFor(x => x.TeacherId)
            @Html.HiddenFor(x => x.GuardianId)
            @Html.HiddenFor(x => x.VendorId)
            
            <div class="control-group">
                @Html.LabelFor(x => x.GradeLevel, new { @class = "control-label" })
                <div class="controls">
                    <div class="span6">
                        @Html.DropDownListFor(x => x.GradeLevel, Model.GradeLevels, "", new { })
                        @Html.ValidationMessageFor(m => m.GradeLevel)
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.CourseSubjectId, new {@class = "control-label"})
                <div class="controls">
                    <div class="span6">
                        @Html.DropDownListFor(x => x.CourseSubjectId, Model.Subjects, "", new {})
                        @Html.ValidationMessageFor(m => m.CourseSubjectId)
                        <select id="Subjects2" style="display: none">
                            @foreach (var item in Model.Subjects2)
                            {
                                <option value="@item.Value" data-count="@item.Additional">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ASDCourseId, new { @class = "control-label" })
                <div class="controls">
                    <div class="span9">
                        @Html.DropDownListFor(x => x.ASDCourseId, Model.ASDCourses, "", new { @class = "chosen-select", data_placeholder = "Find course" })
                        @Html.DropDownList("ASDCourseId2", Model.ASDCourses2, new { id = "ASDCourseId2", style = "display:none" })
                        <select id="ASDCourseId3" style="display:none">
                            @foreach (var item in Model.ASDCourses3)
                            {
                                <option value="@item.Value" data-type-class="@item.Additional" data-subject-id="@item.Additional2">@item.Text</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.ASDCourseId)
                    </div>
                </div>
            </div>
            <div class="control-group" style="display:none">
                @Html.LabelFor(x => x.ASDCourseCredit, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ASDCourseCredit, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group" style="display:none">
                @Html.LabelFor(x => x.ASDCourseDescription, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.ASDCourseDescription, new { @class = "span9", @readonly = "true" })
                </div>
            </div>
            <div class="control-group" style="display:none">
                @Html.LabelFor(x => x.SubjectId, new { @class = "control-label" })
                <div class="controls">
                    <div class="span9">
                        @Html.DropDownListFor(x => x.SubjectId, Model.Subjects, "", new { @class = "span12", data_placeholder = "Find subject" })
                        @Html.ValidationMessageFor(m => m.SubjectId)
                    </div>
                </div>
            </div>
            <div class="control-group" style="display: none">
                @Html.LabelFor(x => x.Name, new {@class = "control-label"})
                <div class="controls">
                    @Html.TextBoxFor(x => x.Name, new {placeholder = Html.DisplayNameFor(x => x.Name), @class = "span9"})
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ILPName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ILPName, new { placeholder = Html.DisplayNameFor(x => x.ILPName), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.ILPName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ClassType, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.ClassType, Model.ClassTypes, "", new { data_placeholder = "Select class type", @class = "span9" })
                    @Html.ValidationMessageFor(m => m.ClassType)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Location, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Location, new { placeholder = Html.DisplayNameFor(x => x.Location), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Location)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <div class="span12 minw265 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.SemesterNumber, new { @class = "control-label" })
                            <div class="controls">
                                <div class="span12">
                                    @Html.DropDownListFor(x => x.SemesterNumber, Model.Semesters, new { data_placeholder = "Find semester" })
                                    @Html.ValidationMessageFor(m => m.SemesterNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="display:none">
        @foreach (var item in Model.ASDCoursesHid)
        {
            <input type="hidden" id="asdCourseHid_credit_@item.Id" value="@item.Credit" />
            <input type="hidden" id="asdCourseHid_description_@item.Id" value="@item.Description">
        }
    </div>
    
    <div class="form-actions">
        <button class="btn btn-success editFPCSCourseSend" type="button">
            <i class="icon-ok bigger-110"></i>
            Save FPCS Course
        </button>
        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.fpcsCourse.initCreateEditDialogs();
    });
</script>
@Html.Script(Scripts.Render("~/bundles/jqueryval"))
