﻿@model FPCS.Web.Admin.Models.FPCSCourse.MegaCreateModel

@using (Html.BeginForm("_MegaCreate", "FPCSCourse", FormMethod.Post, new {id = "megaCreateFPCSCourseForm", @class = "form-horizontal"}))
{
    <div class="form-horizontal">
        @Html.Hidden("StudentPacketCourseId", Model.StudentPacketCourseId, new {id = "studentPacketCourseId"})
        @Html.Hidden("courseId", Model.CourseId, new {id = "courseId"})
        @Html.Hidden("tempId", Model.TempGuid, new { id = "tempId" })

        <div class="row-fluid">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                    <li class="active">
                        <a data-toggle="tab" href="#info">Info</a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#ilp">Course</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#goodAndService" id="goodAndServiceTabId">Goods/Services</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="info" class="tab-pane in active">
                        @Html.Partial("_CreateForMega", Model.FPCSCourseCreateModel)
                    </div>

                    <div id="ilp" class="tab-pane">
                        @Html.Partial("../ILP/_ILPForMega", Model.ILPModel)
                    </div>

                    <div id="goodAndService" class="tab-pane">
                        <h3 class="header smaller lighter green clearfix">
                            Goods And Services
                            <a id="addGoodOrServiceDialog" class="btn btn-success btn-small pull-right">Add Good Or Service</a>
                        </h3>

                        <div id="tableGoodAndService">
                            @Html.Partial("../GoodAndService/_TableGoodAndServiceForMega", Model.TableGoodAndServiceModel)
                        </div>

                        <div id="itemGoodAndService">

                        </div>

                        <div id="formGoodAndService">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-success megaCreateFPCSCourseSend" type="button">
            <i class="icon-ok bigger-110"></i>
            Save FPCS Course
        </button>
        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}

<script type="text/javascript">
    fpcs.dataStudentPacket.initDetailsPage();

    jQuery(function($) {
        fpcs.fpcsCourse.initCreateEditDialogs();
        fpcs.ILP.initILPSaveDialog();
    });
</script>
