﻿@model FPCS.Web.Admin.Models.FPCSCourse.PreEditModel

<div class="form-horizontal">
    @Html.Hidden("StudentPacketCourseId", Model.StudentPacketCourseId, new { id = "studentPacketCourseId" })
    @Html.Hidden("courseId", Model.CourseId, new { id = "courseId" })

    <div class="row-fluid">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#info">Info</a>
				</li>

                <li>
                    <a data-toggle="tab" href="#ilp" class="ilp">Course</a>
				</li>

				<li>
                    <a data-toggle="tab" href="#goodAndService" class="goodAndService">Goods/Services</a>
				</li>
			</ul>

			<div class="tab-content">
                <div id="info" class="tab-pane in active">
					@Html.Partial("_Edit", Model.FPCSCourseEditModel)
				</div>

				<div id="ilp" class="tab-pane">
					@Html.Partial("../ILP/_ILP", Model.ILPModel)
				</div>

				<div id="goodAndService" class="tab-pane">
                    <h3 class="header smaller lighter green clearfix">Goods And Services
                        <button id="addGoodOrServiceDialog" class="btn btn-success btn-small pull-right">Add Good Or Service</button>
                    </h3>

                    <div id="tableGoodAndService">
                        @Html.Partial("../GoodAndService/_TableGoodAndService", Model.TableGoodAndServiceModel)
                    </div>

                    <div id="itemGoodAndService">

                    </div>

                    <div id="formGoodAndService">
                    
                    </div>
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
    //jQuery(function ($) {
    fpcs.dataStudentPacket.initDetailsPage();
    //});
</script>
