﻿@model FPCS.Web.Admin.Models.FPCSCourse.FPCSCoursePrintModel
@using FPCS.Core.Extensions;

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">
    
    <table id="Table1" width="100%">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td class="svplain10" align="right" nowrap="">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
            <tr class="yellowHeader">
                <td colspan="2">
                    <table id="Table27" align="right">
                        <tbody><tr>
                            <td align="right">
                                <font color="white" face="arial" size="2">
                                    @Model.PrintDateNow</font>
                            </td>
                        </tr>
                    </tbody></table>
                    &nbsp;<b>Parent/Teacher Contract</b>
                </td>
            </tr>
        
            <tr>
                <td colspan="2">
                    <table id="Table4" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td colspan="2" nowrap="">
                                    <font class="svplain11"><b><i>
                                        Class 
                                        Information</i></b> </font><font class="svplain"></font>
                                </td>
                            </tr>
                            <tr>
                                <td class="gray" nowrap="">
                                    &nbsp;Name of Class
                                </td>
                                <td class="gray" nowrap="">
                                    &nbsp;ASD Course ID
                                </td>
                                <td class="gray" nowrap="">
                                    &nbsp;Course Category
                                </td>
                                <!--<td class=gray>
							            &nbsp;Subject
						            </td>-->
                                <td class="gray">
                                    &nbsp;Location
                                </td>
                            </tr>
                            <tr>
                                <td class="svplain10" nowrap="">
                                    @Model.Name
                                </td>
                                <td class="svplain10">
                                    @Model.ASDCourseID
                                </td>
                                <td class="svplain10" align="center">
                                    @Model.ASDCourseSubject
                                </td>
                                <td class="svplain10" style="width: 100%;">
                                    @Model.Location
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
                    <table id="Table11" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td class="gray" nowrap="">
                                    &nbsp;Class Start Date
                                </td>
                                <td class="gray" nowrap="">
                                    &nbsp;Class End Date
                                </td>
                            </tr>
                            <tr>
                                <td class="svplain10" nowrap="" valign="top">
                                    @Model.ClassStartDate.ToString("MM/dd/yyyy")
                                </td>
                                <td class="svplain10" nowrap="" valign="top">
                                    @Model.ClassEndDate.ToString("MM/dd/yyyy")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>