﻿@model FPCS.Web.Admin.Models.Subject.SubjectCreateModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_Create", "Subject", FormMethod.Post, new { id = "createSubjectForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
   
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">Fill following form to add new subject</h3>
                </div>
            </div>
    
            <div class="controls">
                @Html.ValidationSummary(true)
            </div>
    
            <div class="control-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Name, new { placeholder = Html.DisplayNameFor(x => x.Name), @class = "span8" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.Description, new { placeholder = Html.DisplayNameFor(x => x.Description), @class = "span8" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span8">
                        @Html.CheckBoxFor(x => x.IsElective)
                        @Html.LabelFor(x => x.IsElective, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.IsElective)
                    </div>
                </div>
            </div>
    
            <div class="form-actions">
                <button class="btn btn-success createSubjectSend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save subject
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))
