﻿@model FPCS.Web.Admin.Models.Subject.SubjectDetailsModel

<div class="row-fluid form-horizontal">
    <div class="span12 ">

        <div class="control-group">
            <div class="controls">
                <h3 class="lighter block green">Subject Information</h3>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Name, new { @class = "span8", @readonly = "true" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(x => x.Description, new { @class = "span8", @readonly = "true" })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="span8">
                    @Html.CheckBoxFor(x => x.IsElective, new { @readonly = "true", disabled = "true" })
                    @Html.LabelFor(x => x.IsElective, new { @class = "lbl" })
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                <i class="icon-reply bigger-110"></i>
                Close
            </button>
        </div>
    </div>
</div>
