﻿@model FPCS.Web.Admin.Models.Transfers.CreateTransferModel

@using (Html.BeginForm("_Create", "Transfer", FormMethod.Post, new { id = "createTransferForm", @class = "form-horizontal" }))
{
    <div class="row-fluid">
        <div class="span12">
            @Html.AntiForgeryToken()

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">Fill following form to add new Transfer</h3>
                </div>
            </div>

            <div class="controls">
                @Html.ValidationSummary(true)
            </div>

            <table id="studentsInFamily" class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.StudentsInFamily[0].Name)</th>
                        <th>@Html.DisplayNameFor(x => x.StudentsInFamily[0].AvailableBudget)</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model.StudentsInFamily)
                    {
                        <tr>
                            <td>
                                @Html.DisplayTextFor(x => item.Name)
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => item.AvailableBudget)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="control-group">
                @Html.HiddenFor(x => x.TransferId)
                @Html.HiddenFor(x => x.StudentId)
                @Html.LabelFor(x => x.FromStudentId, new { @class = "control-label" })
                <div class="controls">
                    <div class="span6">
                       @Html.DropDownListFor(x => x.FromStudentId, Model.StudentsFrom, "", new { @class = "span12" })
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.ToStudentId, new { @class = "control-label" })
                <div class="controls">
                    <div class="span6">
                        @Html.DropDownListFor(x => x.ToStudentId, Model.Students, "", new { @class = "span12" })
                        @Html.ValidationMessageFor(m => m.ToStudentId)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.TransferAmount, new { @class = "control-label" })
                <div class="controls">
                    <div class="span6">
                        @Html.TextBoxFor(x => x.TransferAmount, new { @class = "span12" })
                        @Html.ValidationMessageFor(m => m.TransferAmount)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.Comment, new { @class = "control-label" })
                <div class="controls">
                    <div class="span6">
                        @Html.TextAreaFor(x => x.Comment, new { @class = "span12" })
                        @Html.ValidationMessageFor(m => m.Comment)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-success createTransferSend" type="button">
            <i class="icon-ok bigger-110"></i>
            Save Transfer
        </button>
        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}

<script type="text/javascript">
    jQuery(function ($) {        
        fpcs.transfer.initCreateDialog();
    });
</script>
@Html.Script(Scripts.Render("~/bundles/jqueryval"))
