﻿@model FPCS.Web.Admin.Models.Transfers.TransferIndexModel

@{
    ViewBag.Title = "Transfer Manager : " + Model.StudentName;
    ViewBag.Header = "Transfer Manager : " + Model.StudentName;
}

@Html.Hidden("StudentId", Model.StudentId, new { id = "studentId" })
@Html.Hidden("IsLocked", Model.IsLocked, new { id = "isLocked" })

<div class="row-fluid">
    <div class="span12 gridWrapper">
       <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/css/jqGrid")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script type="text/javascript">
        jQuery(function ($) {
            fpcs.transfer.initIndexPage();
        });
    </script>
}