﻿@model FPCS.Web.Admin.Models.ASDCourse.ASDCourseEditModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_Edit", "ASDCourse", FormMethod.Post, new { id = "editASDCourseForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
   
            if (Model.IsCreatedFPCSCourses)
            {
            <div class="alert alert-warning">
                <strong>Warning!</strong>
                For the ASD Course were created FPCS courses. Editing restricted.
            </div>
            }
    
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can edit the ASD Course</h3>
                </div>
            </div>
    
            <div class="controls">
                @Html.ValidationSummary(true)
            </div>
    
            @Html.HiddenFor(x => x.ASDCourseId)
            @Html.HiddenFor(x => x.IsCreatedFPCSCourses)

            <div class="control-group">
                @Html.LabelFor(x => x.ExternalASDCourseId, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ExternalASDCourseId, new { placeholder = Html.DisplayNameFor(x => x.ExternalASDCourseId), @class = "span8" })
                    @Html.ValidationMessageFor(m => m.ExternalASDCourseId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Name, new { placeholder = Html.DisplayNameFor(x => x.Name), @class = "span8" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.Description, new { placeholder = Html.DisplayNameFor(x => x.Description), @class = "span8" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.GradCredit, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.GradCredit, new { placeholder = Html.DisplayNameFor(x => x.GradCredit), @class = "span8" })
                    @Html.ValidationMessageFor(m => m.GradCredit)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.SubjectId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.SubjectId, Model.Subjects, "", new { @class = "span8" })
                    @Html.ValidationMessageFor(m => m.SubjectId)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span8">
                        @Html.CheckBoxFor(x => x.IsFree)
                        @Html.LabelFor(x => x.IsFree, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.IsFree)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span8">
                        @if (Model.IsCreatedFPCSCourses)
                        {
                            @Html.HiddenFor(x => x.IsActivated)
                            @Html.CheckBoxFor(x => x.IsActivated, new { @readonly = "true", disabled = "true" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(x => x.IsActivated)
                        }
                        @Html.LabelFor(x => x.IsActivated, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.IsActivated)
                    </div>
                </div>
            </div>
    
            <div class="form-actions">
                <button class="btn btn-success editASDCourseSend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save ASD Course
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))