﻿@model FPCS.Web.Admin.Models.ILPBank.ILPBankEditModel

@using (Html.BeginForm("_Edit", "ILPBank", FormMethod.Post, new { id = "editILPBankForm", @class = "form-horizontal" }))
{
    <div class="row-fluid">
        <div class="span12">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.ILPBankId)
            @Html.HiddenFor(x => x.ILPId)
    
            <div class="control-group">
                @Html.LabelFor(x => x.ILPName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ILPName, new { placeholder = Html.DisplayNameFor(x => x.ILPName), @class = "span6", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.ILPName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Instructor, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Instructor, new { placeholder = Html.DisplayNameFor(x => x.Instructor), @class = "span6", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.Instructor)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.SchoolYear, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.SchoolYear, new { placeholder = Html.DisplayNameFor(x => x.SchoolYear), @class = "span6", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.SchoolYear)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.IsPublic, new { @class = "control-label" })
                <div class="controls">
                    @Html.CheckBoxFor(x => x.IsPublic, new { @class = "lbl" })
                    @Html.ValidationMessageFor(m => m.IsPublic)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.CourseHrs, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.CourseHrs, new { placeholder = Html.DisplayNameFor(x => x.CourseHrs), @class = "span6", @readonly = "true", id = "CourseHrsDetail" })
                    @Html.ValidationMessageFor(m => m.CourseHrs)
                </div>
            </div>
    
            <div class="control-group">
                <div class="controls">
                    <div class="span12">
                        @Html.LabelFor(x => x.DescriptionCourse)
                        @Html.TextAreaFor(x => x.DescriptionCourse, new { placeholder = Html.DisplayNameFor(x => x.DescriptionCourse), @class = "span12", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.DescriptionCourse)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span12">
                        @Html.LabelFor(x => x.Standards)
                        @Html.TextAreaFor(x => x.Standards, new { placeholder = Html.DisplayNameFor(x => x.Standards), @class = "span12", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.Standards)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span12">
                        @Html.LabelFor(x => x.StudentActivities)
                        @Html.TextAreaFor(x => x.StudentActivities, new { placeholder = Html.DisplayNameFor(x => x.StudentActivities), @class = "span12", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.StudentActivities)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span12">
                        @Html.LabelFor(x => x.MaterialsResources)
                        @Html.TextAreaFor(x => x.MaterialsResources, new { placeholder = Html.DisplayNameFor(x => x.MaterialsResources), @class = "span12", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.MaterialsResources)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span12">
                        @Html.LabelFor(x => x.RoleAnyPeople)
                        @Html.TextAreaFor(x => x.RoleAnyPeople, new { placeholder = Html.DisplayNameFor(x => x.RoleAnyPeople), @class = "span12", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.RoleAnyPeople)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span9">
                        @Html.CheckBoxFor(x => x.EvaluationGradingPassFail, new { @readonly = "true", @disabled = "true" })
                        @Html.LabelFor(x => x.EvaluationGradingPassFail, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.EvaluationGradingPassFail)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span9">
                        @Html.CheckBoxFor(x => x.EvaluationGradingGradingScale, new { @readonly = "true", @disabled = "true" })
                        @Html.LabelFor(x => x.EvaluationGradingGradingScale, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.EvaluationGradingGradingScale)
                    </div>
                </div>
            </div>
            <div id="gradingScaleDecipher" class="control-group">
                <div class="controls">
                    <div class="span12">
                        A = 90% to 100%
                    </div>
                </div>
                <div class="controls">
                    <div class="span12">
                        B = 80% to 89%
                    </div>
                </div>
                <div class="controls">
                    <div class="span12">
                        C = 70% to 79%
                    </div>
                </div>
                <div class="controls">
                    <div class="span12">
                        D = 60% to 69%
                    </div>
                </div>
                <div class="controls">
                    <div class="span12">
                        F = 0% to 59%
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span9">
                        @Html.CheckBoxFor(x => x.EvaluationGradingOSN, new { @readonly = "true", @disabled = "true" })
                        @Html.LabelFor(x => x.EvaluationGradingOSN, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.EvaluationGradingOSN)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="span9">
                        @Html.CheckBoxFor(x => x.EvaluationGradingOther, new { @readonly = "true", @disabled = "true" })
                        @Html.LabelFor(x => x.EvaluationGradingOther, new { @class = "lbl" })
                        @Html.ValidationMessageFor(m => m.EvaluationGradingOther)
                    </div>
                </div>
            </div>
            <div id="gradingOtherExplainDecipher" class="control-group">
                @Html.LabelFor(x => x.EvaluationGradingOtherExplain, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.EvaluationGradingOtherExplain, new { placeholder = Html.DisplayNameFor(x => x.EvaluationGradingOtherExplain), @class = "span12", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.EvaluationGradingOtherExplain)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.EvaluatedMeasurableOutcomes, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.EvaluatedMeasurableOutcomes, new { placeholder = Html.DisplayNameFor(x => x.EvaluatedMeasurableOutcomes), @class = "span12", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.EvaluatedMeasurableOutcomes)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.CourseSyllabus, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.CourseSyllabus, new { placeholder = Html.DisplayNameFor(x => x.CourseSyllabus), @class = "span12", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.CourseSyllabus)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.GuardianILPModifications, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.GuardianILPModifications, new { placeholder = Html.DisplayNameFor(x => x.GuardianILPModifications), @class = "span12", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.GuardianILPModifications)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.InstructorILPModifications, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.InstructorILPModifications, new { placeholder = Html.DisplayNameFor(x => x.InstructorILPModifications), @class = "span12", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.InstructorILPModifications)
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-success editILPBankSend" type="button">
            <i class="icon-ok bigger-110"></i>
            Save ILP
        </button>
        <button class="btn btn-info cancelILP" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}
<script type="text/javascript">
    jQuery(function ($) {
    });
</script>