﻿@model FPCS.Web.Admin.Models.StudentPacketCourseAlert.TableAlertModel

<table id="goodAndServiceTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Alerts[0].Value)</th>
            <th>@Html.DisplayNameFor(x => x.Alerts[0].NameSendUser)</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Alerts)
        {
        <tr>
            <td>
                @Html.HiddenFor(x => item.StudentPacketCourseAlertId)
                @Html.HiddenFor(x => item.StudentPacketCourseId)
                @Html.DisplayTextFor(x => item.Value)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.NameSendUser)
            </td>
            <td>
                <div class="action-buttons">
                    <a class="red gridRowDeleteAlert" rowid="@item.StudentPacketCourseAlertId" href="#"><i class="icon-trash bigger-130"></i></a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>