﻿@model FPCS.Web.Admin.Models.StudentPacket.PrintReimbursementModel
@using FPCS.Web.Admin.Models.StudentPacket;
@using FPCS.Core.Extensions;

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.studentPacket.printReimbursement()">Print</button>
</h3>

@Html.Hidden("TotalReimbursement", Model.Total, new { id = "hidTotalReimbursement"})

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td align="right" class="svplain10">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
        </tbody>
    </table>

    <table ID="Table5">
	    <tr class="yellowHeader" valign=middle style="font-size:14px">	
		    <td colspan=2 valign="middle">
			    <table cellpadding=2 cellspacing=0 align=right ID="Table6" class="yellowHeader">
                    <tr>
                        <td align=right valign=middle style="font-size:14px">
                            <b>@Model.Title&nbsp;&nbsp;</b>
                        </td>
                    </tr>
			    </table>
			    <b>&nbsp;Request for Reimbursement</b>
		    </td>					
	    </tr>
	    <tr id="instruction">
		    <td class="svplain8">
			    <b>This page will print the Reimbursement forms based on your selections below.</b>
			     <ul>
				    <li>First, please select all the items below that you would like included on the Reimbursement form. </li>
			        <li>Then click the "Print' button.</b></li>
			     </ul>
		    </td>
	    </tr>
    </table>

    <div id="infoCheckPayable" style="display:none">
        <center>
            <br />
            <table ID="Table1">
	            <tr class=svplain10>
		            <td>
			            <nobr><b>Check Payable to:</b></nobr>
		            </td>
		            <td>
			            <b><u>_________________________________</u></b>
		            </td>
		            <td width=0%>
			            &nbsp;&nbsp;
		            </td>
		            <td>
			            <b>Date:</b>
		            </td>
		            <td>
			            __________________
		            </td>
	            </tr>
	            <tr class=svplain6>
		            <td>
			            &nbsp;
		            </td>
		            <td valign=top>
			            <b>(person/organization to whom the check is to be written)</b>
		            </td>
		            <td colspan=3>
			            &nbsp;
		            </td>
	            </tr>
            </table>
            <br>
        </center>
    </div>

    <div id="infoProcedures" style="display:none">
        <center>
            <br />
            <table width=90% ID="Table3">
	            <tr>
		            <td class=svplain10 colspan=2>
			            <b>Procedures:</b>
		            </td>
	            </tr>
	            <tr class=svplain10>
		            <td valign=top width=0%>
			            1.
		            </td>
		            <td width=100%>
			            Staple <b>Original</b> receipts to the back of this form.
		            </td>
	            </tr>
	            <tr class=svplain10>
		            <td valign=top width=0%>
			            2.
		            </td>
		            <td>
			            Attach proof of payment and packing slip, if purchased online.
		            </td>
	            </tr>
	            <tr class=svplain10>
		            <td valign=top width=0%>
			            3.
		            </td>
		            <td>
			            Circle items on receipt that are to be reimbursed (Please do not use highlighters).
		            </td>
	            </tr>
	            <tr class=svplain10>
		            <td valign=top width=0%>
			            4.
		            </td>
		            <td>
			            Write amount requested in the 'Requested Amount Column'
		            </td>
	            </tr>
	            <tr class=svplain10>
		            <td valign=top width=0%>
			            5.
		            </td>
		            <td>
			            Bring all non-consumable items to FPCS to be bar coded, after that, reimbursements will be paid.		
		            </td>
	            </tr>
	            <tr class=svplain10>
		            <td valign=top width=0%>
			            6.
		            </td>
		            <td>
			            No single receipt shall exceed $200
		            </td>
	            </tr>
            </table>
            <br />
        </center>
    </div>

    <center>
        <table ID="Table7">
            <table width=100% cellpadding=2 cellspacing=0 border=1 bordercolor=c0c0c0  class=svplain8 ID="Table4">
	            <tr bgcolor=e6e6e6 style="font-color:white">
		            <td align=center valign=top class="cbColumn">
			            <b>&nbsp;Select&nbsp;</b>
		            </td>
		            <td align=center valign=top>
			            <b>Vendor Name</b>
		            </td>	
		            <td align=center valign=top>
			            <b>Item</b>
		            </td>	
		            <td align=center valign=top title="Consumable">
			            <b>Cons</b>
		            </td>	
		            <td align=center valign=top>
			            <b>Budgeted Amount</b>
		            </td>	
		            <td align=center valign=top>
			            <b>Requested Amount</b>
		            </td>	
		            <td align=center valign=top>
			            <b>Course</b>
		            </td>
		            <td align=center valign=top>
			            <b>Student Name</b>
		            </td>
		            <td align=center valign=top>
			            <b>Obj CD</b>
		            </td>
	            </tr>
                @foreach (var item in Model.Reimbursements)
                {
                    <tr>
		                <td align=center valign=top class="cbColumn">
			                <input type="checkbox" name="selectedIDs" class="cbSelectedReimbursement">
                            <input type="hidden" class="hidBudgetedAmount" value="@item.BudgetedAmount" />
		                </td>
		                <td align=center valign=middle>
			                @item.VendorName
		                </td>
		                <td align=center valign=middle>
			                @item.Item
		                </td>
		                <td align=center valign=middle>
			                @item.Cons
		                </td>
		                <td align=right valign="middle">
			                $@item.BudgetedAmount
		                </td>
		                <td align=center valign=top>
			                &nbsp;&nbsp;
		                </td>
		                <td align=center valign=middle>
			                @item.Course
		                </td>
		                <td align=center valign=middle>
			                @item.StudentName
		                </td>
		                <td align=center valign=middle>
			                &nbsp;@item.ObjCD&nbsp;
		                </td>
	                </tr>
                }
                <tr>
		            <td colspan=3 align=right>
			            <b>Total</b>
		            </td>
		            <td align=right id="totalReimbursement">
			            $@Model.Total&nbsp;
		            </td>
		            <td colspan=6>
		            </td>
	            </tr>
            </table>
        </table>
    </center>
    <br><br>
    <pre style="background-color:white; border:none">
    ___________________________________    ________________________________
    Parent Name (print)                    Parent Signature           


    ___________________________________    ________________________________
    Sponsor Name (print)                   Sponsor Signature           


    ___________________________________		
    FPCS Signature                             

    </pre>
</div>