﻿@model FPCS.Web.Admin.Models.StudentPacket.PrintStudentPacketModel
@using FPCS.Web.Admin.Models.StudentPacket;
@using FPCS.Core.Extensions;

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td align="right" class="svplain10">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
            <tr class="yellowHeader">
                <td colspan="2">
                    <table align="right" id="Table26">
                        <tbody>
                            <tr>
                                <td align="right">
                                    <font size="2" face="arial" color="white">
                                        @Model.PrintDateNow</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;<b>@Model.Title</b>
                </td>
            </tr>
        </tbody>
    </table>

    @Html.HiddenFor(x => x.StudentPacketModel.StudentId)
    @Html.HiddenFor(x => x.StudentPacketModel.StudentPacketId)
    @Html.HiddenFor(x => x.StudentPacketModel.IsASDTASigned, new { id = "isASDTASigned" })
    @Html.HiddenFor(x => x.StudentPacketModel.IsPRASigned, new { id = "isPRASigned" })

    @* if student packet is locked and current user isn't admin *@
    @Html.Hidden("IsLocked", Model.StudentPacketModel.IsLocked && Html.GetRoleCurrentUser() != 1, new { id = "isLocked" })

    <div class="row-fluid form-horizontal">
        <div class="span12">
            <div class="span12">
                <table class="table table-striped table-bordered table-hover" style="font-size:13px">
                    <thead>
                        <tr>
                            <th class="center-contain">Progress Chart</th>
                            <th class="center-contain">Enrollment</th>
                            <th class="center-contain">Core Units</th>
                            <th class="center-contain">Elective Units</th>
                            <th class="center-contain">Total Units</th>
                            <th class="center-contain">ILP Hrs</th>
                            <th class="center-contain">Contract Hrs</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center-contain">Goal</td>
                            <td class="center-contain">@Model.StudentPacketModel.GoalEnrollmentPercent.GetDescription()</td>
                            <td class="center-contain">@Model.StudentPacketModel.GoalCoreUnits</td>
                            <td class="center-contain">@Model.StudentPacketModel.GoalElectiveUnits</td>
                            <td class="center-contain">@Model.StudentPacketModel.GoalTotalUnits</td>
                            <td class="center-contain">@Model.StudentPacketModel.GoalILPHrs</td>
                            <td class="center-contain">@Model.StudentPacketModel.GoalContractHrs</td>
                        </tr>
                        <tr>
                            <td class="center-contain">Achieved</td>
                            <td class="center-contain">@Model.StudentPacketModel.AchievedEnrollmentPercent&nbsp;%</td>
                            <td class="center-contain">@Model.StudentPacketModel.AchievedCoreUnits</td>
                            <td class="center-contain">@Model.StudentPacketModel.AchievedElectiveUnits</td>
                            <td class="center-contain">@Model.StudentPacketModel.AchievedTotalUnits</td>
                            <td class="center-contain">@Model.StudentPacketModel.AchievedILPHrs</td>
                            <td class="center-contain">@Model.StudentPacketModel.AchievedContractHrs</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row-fluid form-horizontal">
        <div class="span12">
            <div class="span12">
                <table class="table table-striped table-bordered table-hover" style="font-size:13px">
                    <thead>
                        <tr>
                            <th class="center-contain">*Individual Elective Spending Limits</th>
                            <th class="center-contain">Budget Limit</th>
                            <th class="center-contain">Amount Budgeted</th>
                            <th class="center-contain">Elective Balance</th>
                            <th class="center-contain">Global Reserve</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="left-contain">Individual Budget</td>
                            <td class="right-contain">$@Model.StudentPacketModel.IndividualBudgetBudgetLimit</td>
                            <td class="right-contain">$@Model.StudentPacketModel.IndividualBudgetAmountBudgeted</td>
                            @if (Model.StudentPacketModel.IndividualBudgetBudgetLimit < Model.StudentPacketModel.IndividualBudgetAmountBudgeted)
                            {
                                <td class="right-contain clrRed">$@Model.StudentPacketModel.IndividualBudgetElectiveBalance</td>
                            }
                            else
                            {
                                <td class="right-contain">$@Model.StudentPacketModel.IndividualBudgetElectiveBalance</td>
                            }
                            <td class="right-contain">$@Model.StudentPacketModel.IndividualBudgetGlobalReserve</td>
                        </tr>
                        <tr>
                            <td class="left-contain" colspan="5">
                                * Students cannot spend more than 50% of the student's budget on Music, Art, and/or P.E. classes.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="sponsorTeacherWrap" class="span12">
                <div class="control-group">
                    @Html.LabelFor(x => Model.StudentPacketModel.SponsorTeacherName, new { @class = "control-label" })
                    <div class="controls">
                        <div class="input-group">
                            <div class="input-append">
                                <input type="text" name="SponsorTeacherName" value="@Model.StudentPacketModel.SponsorTeacherName" placeholder="Teacher not selected" class="input-xlarge" readonly="true"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="width100per" style="font-size:13px">
                <tbody>
                    <tr>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="18%"></td>
                        <td width="6%"></td>
                        <td width="6%" class="actual_spending_column"></td>
                    </tr>
                    <tr>
                        <td rowspan="5" colspan="7">
                            <div class="dd dd-draghandle">
                                <ol class="dd-list">
                                    <li class="dd-item dd2-item">
                                        @if (!Model.StudentPacketModel.IsCompletePacketCourse)
                                        {
                                            <div class="dd2-content-mini-title dd2-content-white">Items still needed to complete this packet ...</div>
                                            <ol class="dd-list">
                                               @foreach (var item in Model.StudentPacketModel.ItemsNeedComplete)
                                               {
                                                   if (!String.IsNullOrEmpty(item))
                                                   {
                                                       <li class="dd-item-mini">
                                                           <div class="dd2-content-mini dd2-content-white">@item</div>
                                                       </li>
                                                   }
                                               }
                                               <li class="dd-item-mini">
                                                   <div class="dd2-content-mini dd2-content-white">Course Signatures</div>
                                               </li>
                                            </ol>
                                        }
                                        else
                                        {
                                            <div class="dd2-content-mini-title dd2-content-white">Congratulations! This packet has been SIGNED and APPROVED.</div>
                                        }
                                    </li>
                                </ol>
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="bold horizontal_middle">
                            Planning Budget
                        </td>
                        <td class="bold horizontal_middle actual_spending_column">
                            Actual Spending
                        </td>
                    </tr>
                    <tr>
                        @*<td colspan="7">
                        </td>*@
                        <td class="bold horizontal_right">
                            Beginning Balance:
                        </td>
                        <td class="horizontal_middle">
                            $@Model.StudentPacketModel.PBBeginningBalance
                        </td>
                        <td class="horizontal_middle actual_spending_column">
                            $@Model.StudentPacketModel.ASBeginningBalance
                        </td>
                    </tr>
                    <tr>
                        @*<td colspan="7">
                        </td>*@
                        <td class="bold horizontal_right">
                            Budget Transfer Deposits:
                        </td>
                        <td class="horizontal_middle">
                            $@Model.StudentPacketModel.PBBudgetTransferDeposits
                        </td>
                        <td class="horizontal_middle actual_spending_column">
                            $@Model.StudentPacketModel.ASBudgetTransferDeposits
                        </td>
                    </tr>
                    <tr>
                        @*<td colspan="7">
                        </td>*@
                        <td class="bold horizontal_right">
                            Budget Transfer Withdrawals:
                        </td>
                        <td class="horizontal_middle">
                            $@Model.StudentPacketModel.PBBudgetTransferWithdrawals
                        </td>
                        <td class="horizontal_middle actual_spending_column">
                            $@Model.StudentPacketModel.ASBudgetTransferWithdrawals
                        </td>
                    </tr>
                    <tr>
                        @*<td colspan="7">
                        </td>*@
                        <td class="bold horizontal_right">
                            Available Remaining Funds:
                        </td>
                        <td class="horizontal_middle">
                            $@Model.StudentPacketModel.PBAvailableRemainingFunds
                        </td>
                        <td class="horizontal_middle actual_spending_column">
                            $@Model.StudentPacketModel.ASAvailableRemainingFunds
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h3 class="header smaller lighter green clearfix">
                                Courses
                                <input type="hidden" id="cntCourses" value="@Model.StudentPacketModel.StudentPacketCourseModels.Count()" />
                            </h3>
                        </td>
                        <td>
                        </td>
                    </tr>
                    @foreach (var item in Model.StudentPacketModel.StudentPacketCourseModels)
                    {
                    <tr>
                        <td colspan="8">
                            @Html.Partial("_PrintStudentPacketCourse", item)
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            @Html.Partial("_PrintStudentPacketCourseGoodService", item)
                        </td>
                    </tr>
                    }
                    <tr>
                        <td colspan="7">
                        </td>
                        <td class="bold horizontal_right">
                            Available Remaining Funds:
                        </td>
                        <td class="bold horizontal_middle">
                            $@Model.StudentPacketModel.PBAvailableRemainingFundsTotal
                        </td>
                        <td class="bold horizontal_middle actual_spending_column">
                            $@Model.StudentPacketModel.ASAvailableRemainingFundsTotal
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>