﻿@model FPCS.Web.Admin.Models.StudentPacket.StudentPacketCourseModel
@using FPCS.Core.Extensions

<table class="table table-bordered" style="font-size:13px">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].LineItems)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].BudgetItem)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].Vendor)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].Status)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].Description)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].QTY)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].UnitCost)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].SH)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].BudgetTotal)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].ActualCharges)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].BudgetAdjust)</th>
            <th>@Html.DisplayNameFor(x => x.TableGoodAndService.GoodsAndServices[0].BudgetBalance)</th>
            <th width="6%" class="planning_budget_column">&nbsp;</th>
            <th width="6%" class="actual_spending_column">&nbsp;</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th colspan="11">&nbsp;</th>
            <th colspan="1">Course Total:</th>
            <th>@Html.DisplayTextFor(x => x.TableGoodAndService.PlanningBudgetTotal)</th>
            <th class="actual_spending_column">@Html.DisplayTextFor(x => x.TableGoodAndService.ActualSpendingTotal)</th>
        </tr>
    </tfoot>

    <tbody>

        @foreach (var item in Model.TableGoodAndService.GoodsAndServices)
        {
            if (item.GoodAndServiceBalanceID == 0 || item.IsInstructor)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => item.GoodAndServiceID, new { @class = "hdnGoodAndService" })
                        <a href="#" hiddenAttr="show" onclick="fpcs.goodService.showOrHideLineItems(this, event)">@Html.DisplayTextFor(x => item.LineItems)</a>
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.BudgetItem)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.Vendor)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.Status)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.Description)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.QTY)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.UnitCost)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.SH)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.BudgetTotal)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.ActualCharges)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.BudgetAdjust)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.BudgetBalance)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.TotalPlanningBudget)
                    </td>
                    <td class="actual_spending_column">
                        @Html.DisplayTextFor(x => item.TotalActualSpending)
                    </td>
                </tr>
            }
            else
            {
                <tr bgcolor="#DDDDDD" gs="@item.GoodAndServiceID" style="display:none">
                    <td>
                        @Html.HiddenFor(x => item.GoodAndServiceID, new { @class = "hdnGoodAndService" })
                        @Html.HiddenFor(x => item.GoodAndServiceBalanceID, new { @class = "hdnGoodAndServiceBalance" })
                    </td>
                    <td colspan="3">
                        @Html.DisplayTextFor(x => item.BudgetItem)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.Description)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.QTY)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.UnitCost)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.SH)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.BudgetTotal)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => item.ActualCharges)
                    </td>
                    <td colspan="5">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="hr hr-18 dotted hr-double"></div>
