﻿@model FPCS.Web.Admin.Models.StudentPacket.AgreementModel

<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    Parent/sponsor teacher communication is a critical component of our charter school. Quarterly progress reports and monthly face-to-face meetings for each student should be completed throughout the school year. Semester grades are to be submitted by December 16th for 1st Semester and May 17th for all students for 2nd semester and final end of the year grades. 
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    *Note: Students eligible for sports in high school and middle school must meet different deadlines for quarterly grade submissions. 
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    <h3 class="lighter block green">Guardian signatures are required...</h3>
                </div>
            </div>
        </div>
    </div>

    <table id="studentsInFamily" class="table table-bordered">
        <thead>
            <tr>
                <th>Student Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(x => item.StudentName)
                    </td>
                    <td>
                        @if (item.IsPRASigned)
                        {
                            <span>
                                Signed: @item.PRAGuardianSigner
                            </span>
                        }
                        else
                        {
                            <span>
                                (guardian has not yet signed for this student) 
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StudentId == Model.StudentId && !item.IsPRASigned)
                        {
                            <button class="praSignClick" onclick="fpcs.studentPacket.clickPRAAgreement('@item.StudentId')">Sign</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    fpcs.studentPacket.initPRAAgreementPage();
</script>