﻿@model FPCS.Web.Admin.Models.GoodAndServiceApproval.GoodAndServiceBalanceModel

@using (Html.BeginForm("_EditBalance", "GoodAndServiceApproval", FormMethod.Post, new { id = "editBalanceForm", @class = "form-horizontal" }))
{
    <div class="row-fluid">
        <div class="span10">
            @Html.AntiForgeryToken()

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can edit the Balance's Good or Service</h3>
                </div>
            </div>

            <div class="controls">
                @Html.ValidationSummary(true)
            </div>

            @Html.HiddenFor(x => x.GoodServiceId)
            @Html.HiddenFor(x => x.GoodServiceBalanceId)

            <div class="control-group">
                @Html.LabelFor(x => x.PO, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.PO, new { placeholder = Html.DisplayNameFor(x => x.PO), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.PO)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Invoice, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Invoice, new { placeholder = Html.DisplayNameFor(x => x.Invoice), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Invoice)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Check, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Check, new { placeholder = Html.DisplayNameFor(x => x.Check), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Check)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.CheckDate, new { @class = "control-label" })
                <div class="controls">
                    <div class="row-fluid input-append">
                        @Html.TextBoxFor(x => x.CheckDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.CheckDate), @class = "span8 date-picker", data_date_format = "mm/dd/yyyy" })
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                        @Html.ValidationMessageFor(m => m.CheckDate)
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Payee, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Payee, new { placeholder = Html.DisplayNameFor(x => x.Payee), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Payee)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ReceiptDate, new { @class = "control-label" })
                <div class="controls">
                    <div class="row-fluid input-append">
                        @Html.TextBoxFor(x => x.ReceiptDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.ReceiptDate), @class = "span8 date-picker", data_date_format = "mm/dd/yyyy" })
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                        @Html.ValidationMessageFor(m => m.ReceiptDate)
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.Description, new { placeholder = Html.DisplayNameFor(x => x.Description), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.UnitPrice, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.UnitPrice, new { placeholder = Html.DisplayNameFor(x => x.UnitPrice), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.UnitPrice)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.QTY, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.QTY, new { placeholder = Html.DisplayNameFor(x => x.QTY), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.QTY)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Shipping, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Shipping, new { placeholder = Html.DisplayNameFor(x => x.Shipping), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Shipping)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Total, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Total, new { placeholder = Html.DisplayNameFor(x => x.Total), @class = "span9", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.Total)
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-success editBalanceSend" type="button">
            <i class="icon-ok bigger-110"></i>
            Save
        </button>
        <button onclick="javascript:$('#formBalance').html('')" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
}

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.fpcsGoodService.initCreateEditDialogs();
    });
</script>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))
