﻿@model FPCS.Web.Admin.Models.GoodAndServiceApproval.PreEditModel

<div class="form-horizontal">
    @Html.Hidden("GoodServiceId", Model.GoodServiceId, new { id = "goodServiceId" })

    <div class="row-fluid">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#info">Info</a>
				</li>

				<li>
					<a data-toggle="tab" href="#balance">Receipt</a>
				</li>
			</ul>

			<div class="tab-content">
                <div id="info" class="tab-pane in active">
					@Html.Partial("_Edit", Model.EditModel)
				</div>

				<div id="balance" class="tab-pane">
                    <h3 class="header smaller lighter green clearfix">Receipts
                        <button id="addBalanceDialog" class="btn btn-success btn-small pull-right">Add Balance</button>
                    </h3>

                    <div id="tableGoodAndServiceBalance">
                        @Html.Partial("_TableBalance", Model.TableBalanceModel)
                    </div>

                    <div id="formBalance">
                    
                    </div>
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.fpcsGoodService.initDetailsPage();
    });
</script>
