﻿@model FPCS.Web.Admin.Models.GoodAndServiceApproval.PreDetailModel

<div class="form-horizontal">
    @Html.Hidden("GoodServiceId", Model.GoodServiceId, new { id = "goodServiceId" })
    @Html.Hidden("GoodOrService", Model.GoodOrService, new { id = "hdnGoodOrService" })
    @Html.Hidden("RequisitionOrReimbursement", Model.RequisitionOrReimbursement, new { id = "hdnRequisitionOrReimbursement" })
    @Html.Hidden("TypeRequisitionReimbursement", Model.TypeRequisitionReimbursement, new { id = "hdnTypeRequisitionReimbursement" })
    @Html.Hidden("StudentPacketCourseId", Model.StudentPacketCourseId, new { id = "hdnStudentPacketCourseId" })
    @Html.Hidden("Vendor", Model.VendorID, new { id = "hdnVendor" })


    <div class="row-fluid">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#fpcsCourseTab">FPCS Course</a>
				</li>

				<li>
					<a data-toggle="tab" href="#ilpStudentPacketCourseTab">ILP Student Packet Course</a>
				</li>

                <li>
					<a data-toggle="tab" href="#goodServiceTab">Good or Service</a>
				</li>
                
                <li>
					<a data-toggle="tab" href="#vendorReportTab">Vendor report</a>
				</li>
			</ul>

			<div class="tab-content">
                <div id="fpcsCourseTab" class="tab-pane in active">
                    @Html.Action("_PreDetails", "FPCSCourse", new { id = Model.FPCSCourseId })
				</div>

                <div id="ilpStudentPacketCourseTab" class="tab-pane">
					@Html.Action("_ILP", "ILP", new { studentPacketCourseId = Model.StudentPacketCourseId })
				</div>

                <div id="goodServiceTab" class="tab-pane">
                    @*load from jQuery...*@
				</div>
                
                <div id="vendorReportTab" class="tab-pane">
					@Html.Action("_TableVendorService", "GoodAndServiceApproval", new { vendorId = Model.VendorID })
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.fpcsGoodService.initDetailsPage();
    });
</script>
