﻿@model FPCS.Web.Admin.Models.GoodAndServiceApproval.TableGoodServiceVendorPrintModel

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td align="right" class="svplain10">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
            <tr class="yellowHeader">
                <td colspan="2">
                    <table align="right" id="Table26">
                        <tbody>
                            <tr>
                                <td align="right">
                                    <font size="2" face="arial" color="white">
                                        @Model.PrintDateNow
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <h1>Goods and Services - Vendors</h1>
    </div>

    <table class="table table-striped table-bordered table-hover" style="font-size:13px">
        <thead>
            <tr>
                <th>Vendor Name</th>
                <th>Address</th>
                <th>Sum</th>
                <th>Spent</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Data)
        {   
            <tr>
                <td>@item.VendorName</td>
                <td>@item.Address</td>
                <td>@item.Sum.ToString("C")</td>
                <td>@item.SumBalance.ToString("C")</td>
            </tr>
        }
        </tbody>
    </table>
</div>