﻿@model FPCS.Web.Admin.Models.GoodAndServiceApproval.TableVendorServiceModel

<table id="vendorServiceTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Data[0].CourseName)</th>
            <th>@Html.DisplayNameFor(x => x.Data[0].StudentName)</th>
            <th>@Html.DisplayNameFor(x => x.Data[0].Budget)</th>
            <th>@Html.DisplayNameFor(x => x.Data[0].Spent)</th>
            <th>@Html.DisplayNameFor(x => x.Data[0].BudgetAdjustment)</th>
            <th>@Html.DisplayNameFor(x => x.Data[0].Balance)</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Data)
        {
        <tr>
            <td>
                @Html.DisplayTextFor(x => item.CourseName)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.StudentName)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Budget)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Spent)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.BudgetAdjustment)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Balance)
            </td>
        </tr>
        }
        <tr>
            <td>
            </td>
            <td class="bold">
                Totals:
            </td>
            <td class="bold">
                @Html.DisplayTextFor(x => Model.Budget)
            </td>
            <td class="bold">
                @Html.DisplayTextFor(x => Model.Spent)
            </td>
            <td class="bold">
                @Html.DisplayTextFor(x => Model.BudgetAdjustment)
            </td>
            <td class="bold">
                @Html.DisplayTextFor(x => Model.Balance)
            </td>
        </tr>
    </tbody>
</table>