﻿@model FPCS.Web.Admin.Models.SignedPacket.SignedPacketPrintModel

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    @foreach (var item in Model.Data)
    {
        <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
            <tbody>
                <tr>
                    <td align="left">
                        <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                    </td>
                    <td align="right" class="svplain10">
                        @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                    </td>
                </tr>
                <tr class="yellowHeader">
                    <td colspan="2">
                        <table align="right" id="Table26">
                            <tbody>
                                <tr>
                                    <td align="right">
                                        <font size="2" face="arial" color="white">
                                            @Model.PrintDateNow</font>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-hover" style="font-size:13px">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Date Of Birth</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                @if (item.IsWithdrawal)
                {
                    <td class="red">@item.StudentName</td>
                }
                else
                {
                    <td>@item.StudentName</td>
                }
                <td>@item.DateOfBirth</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-hover" style="font-size:13px; width:500px">
            <tbody>
                <tr>
                    <td style="width:200px">Grade</td>
                    <td style="width:200px">@item.Grade</td>
                </tr>
                <tr>
                    <td>Home Phone</td>
                    <td>@item.HomePhone</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@item.EmailFamily</td>
                </tr>
                <tr>
                    <td>Date Sponsor Signature</td>
                    <td>@item.DateSponsorSignature</td>
                </tr>
                <tr>
                    <td>Date Guardian Signature</td>
                    <td>@item.DateGuardianSignature</td>
                </tr>
                
            </tbody>
        </table>

        <div class="sheet_break"></div>
    }
</div>