﻿@model FPCS.Web.Admin.Models.Grades.DetailGradeModel

<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span12">

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can view the Grade Student Packet Course</h3>
                </div>
            </div>

            @Html.HiddenFor(x => x.StudentPacketCourseId)

            <div class="control-group">
                @Html.LabelFor(x => x.StudentName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.StudentName, new { @class = "span6", @readonly = "true", @disabled = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ASDCode, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ASDCode, new { @class = "span6", @readonly = "true", @disabled = "true" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.CourseTitle, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.CourseTitle, new { @class = "span9", @readonly = "true", @disabled = "true" })
                </div>
            </div>
            @if (!String.IsNullOrEmpty(Model.TeacherName))
            {
                <div class="control-group">
                    @Html.LabelFor(x => x.TeacherName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.TeacherName, new { @class = "span9", @readonly = "true", @disabled = "true" })
                    </div>
                </div>
            }
            else
            {
                <div class="control-group">
                    @Html.LabelFor(x => x.GuardianName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(x => x.GuardianName, new { @class = "span9", @readonly = "true", @disabled = "true" })
                    </div>
                </div>
            }
            <div class="hr hr-dotted"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q11, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q11, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ11File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q11">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q12, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q12, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ12File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q12">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q13, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q13, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ13File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q13">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q21, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q21, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ21File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q21">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q22, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q22, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ22File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q22">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q23, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q23, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ23File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q23">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q1, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q1, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q2, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q2, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Sem1, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Sem1, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @Html.ValidationMessageFor(x => x.Sem1)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q31, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q31, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ31File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q31">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q32, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q32, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ32File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q32">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q33, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q33, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ33File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q33">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q41, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q41, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ41File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q41">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q42, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q42, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ42File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q42">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q43, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q43, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @if (Model.HasQ43File)
                                    {
                                        <button class="btn btn-success mrgn-left-5 download-file" type="button" data-id="@Model.StudentPacketCourseId" data-q="Q43">Download</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q3, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q3, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Q4, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Q4, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Sem2, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Sem2, Model.SampleGrades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @Html.ValidationMessageFor(x => x.Sem2)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <div class="control-group">
                        @Html.LabelFor(x => x.Comment, new { @class = "control-label" })
                        <div class="controls">
                            <div class="row-fluid input-append">
                                @Html.TextAreaFor(x => x.Comment, new { @class = "span12", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <div class="span4">
                        <div class="control-group">
                            @Html.LabelFor(x => x.Credits, new { @class = "control-label" })
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.DropDownListFor(x => x.Credits, Model.Grades, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.CheckBoxFor(x => x.IsInSystem, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @Html.LabelFor(x => x.IsInSystem, new { @class = "lbl" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 mleft0">
                        <div class="control-group">
                            <div class="controls">
                                <div class="row-fluid input-append">
                                    @Html.CheckBoxFor(x => x.IsLock, new { @class = "span12", @readonly = "true", @disabled = "true" })
                                    @Html.LabelFor(x => x.IsLock, new { @class = "lbl" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Close
        </button>
    </div>
</div>