﻿@model FPCS.Web.Admin.Models.StudentPacket2.AmpMathModel

@using (Html.BeginForm("_AmpMathEdit", "StudentPacket2", FormMethod.Post, new { id = "ampMathEditForm", @class = "" }))
{
    @Html.AntiForgeryToken()

    <div class="controls">
        @Html.ValidationSummary(true)
    </div>
    
    @Html.HiddenFor(x => x.StudentId)
    @Html.HiddenFor(x => x.StudentPacketId)

    <div class="control-group">
        @Html.LabelFor(x => x.AmpMath, new { @class = "control-label" })
        <div class="controls">
            <div class="input-append">
                @Html.DropDownListFor(x => x.AmpMath, Model.AmpMaths, new { @class = "input-xlarge", id = "ampMathId" })
                <button id="ampMathSend" class="btn btn-small btn-success">Save</button>
                <button id="ampMathCancel" class="btn btn-small btn-primary">Cancel</button>
            </div>
            @Html.ValidationMessageFor(m => m.AmpMath)
        </div>
    </div>
}