﻿@model FPCS.Web.Admin.Models.StudentPacket2.AmpElaModel
@using FPCS.Core.Extensions

@Html.HiddenFor(x => x.StudentId, new { id = "studentId" })
<div class="control-group">
    @Html.LabelFor(x => x.AmpEla, new { @class = "control-label" })
    <div class="controls">
        <div class="input-group">
            <div class="input-append">
                <input type="text" name="Name" value="@Model.AmpEla.GetDescription()" class="input-xlarge" readonly="true" />
                <button id="ampElaEdit" packetId="@Model.StudentPacketId" class="btn btn-small btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
