﻿@model FPCS.Web.Admin.Models.StudentPacket2.AmpElaModel

@using (Html.BeginForm("_AmpElaEdit", "StudentPacket2", FormMethod.Post, new { id = "ampElaEditForm", @class = "" }))
{
    @Html.AntiForgeryToken()

    <div class="controls">
        @Html.ValidationSummary(true)
    </div>
    
    @Html.HiddenFor(x => x.StudentId)
    @Html.HiddenFor(x => x.StudentPacketId)

    <div class="control-group">
        @Html.LabelFor(x => x.AmpEla, new { @class = "control-label" })
        <div class="controls">
            <div class="input-append">
                @Html.DropDownListFor(x => x.AmpEla, Model.AmpElas, new { @class = "input-xlarge", id = "ampElaId" })
                <button id="ampElaSend" class="btn btn-small btn-success">Save</button>
                <button id="ampElaCancel" class="btn btn-small btn-primary">Cancel</button>
            </div>
            @Html.ValidationMessageFor(m => m.AmpEla)
        </div>
    </div>
}