﻿@model FPCS.Web.Admin.Models.StudentPacket2.AgreementModel

<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    Family Partnership Charter School is required to test all enrolled students in grades 3-9 in mandatory state testing to comply with No Child Left Behind legislation.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    FPCS has only reached Adequate Yearly Progress (AYP) in test participation and graduation rates twice in its 10 year history. The school is also required to participate in a universal screening for a reading assessment for students in Grades K-6. We need your help!
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    *All 11th Grade Students need take the WorkKeys testing to qualify for the Alaska Performance Scholarships.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    *Please agree to this even if your student is in grades K-2 or in 12th Grade and will not need to test this year.
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div>
                    <h3 class="lighter block green">By clicking on a sign button, I Acknowledge that Statewide Testing is a requirement.  </h3>
                </div>
            </div>
        </div>
    </div>

    <table id="studentsInFamily" class="table table-bordered">
        <thead>
            <tr>
                <th>Student Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(x => item.StudentName)
                    </td>
                    <td>
                        @if (item.IsASDTASigned)
                        {
                            <span>
                                Signed: @item.ASDTAGuardianSigner
                            </span>
                        }
                        else
                        {
                            <span>
                                (guardian has not yet signed for this student) 
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StudentId == Model.StudentId && !item.IsASDTASigned)
                        {
                            <button class="asdTASignClick" onclick="fpcs.studentPacket2.clickASDTAAgreement('@item.StudentId')">Sign</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    fpcs.studentPacket.initASDTAAgreementPage();
</script>