﻿@model FPCS.Web.Admin.Models.StudentPacket2.StudentPacketCourseModel
@using FPCS.Core.Extensions
@using FPCS.Data.Enums

@if (Model.Status == StudentPacketCourseStatus.NotFullySigned)
{
    <div class="table-header header-not-fully-signed">@Html.DisplayTextFor(x => x.StudentPacketCourseName)</div>
}
else if (Model.Status == StudentPacketCourseStatus.Rejected)
{
    <div class="table-header header-rejected">@Html.DisplayTextFor(x => x.StudentPacketCourseName)</div>
}
else if (Model.Status == StudentPacketCourseStatus.MustAmend)
{
    <div class="table-header header-must-ammend">@Html.DisplayTextFor(x => x.StudentPacketCourseName)</div>
}
else if (Model.Status == StudentPacketCourseStatus.FullySigned)
{
    <div class="table-header header-fully-signed">@Html.DisplayTextFor(x => x.StudentPacketCourseName)</div>
}
else if (Model.Status == StudentPacketCourseStatus.SponsorAlert)
{
    <div class="table-header header-sponsor-alert">@Html.DisplayTextFor(x => x.StudentPacketCourseName)</div>
}
else if (Model.Status == StudentPacketCourseStatus.ParentAlert)
{
    <div class="table-header header-parent-alert">@Html.DisplayTextFor(x => x.StudentPacketCourseName)</div>
}

<table class="table table-striped table-bordered table-hover table-mini-bottom" style="font-size:13px">
    <thead>
        <tr>
            <th colspan="6">Course Helper: @Model.Status.GetDescription() - @Model.CourseHelper</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(x => x.FPCSCourseName)</th>
            <th class="width250">
                @if (!String.IsNullOrEmpty(Model.TeacherName))
                {
                    @Html.DisplayNameFor(x => x.TeacherName)
                }
                else
                {
                    @Html.DisplayNameFor(x => x.GuardianName)
                }
            </th>
            <th class="width200">@Html.DisplayNameFor(x => x.Subject)</th>
            <th class="width105">@Html.DisplayNameFor(x => x.Semester)</th>
            <th class="width105">@Html.DisplayNameFor(x => x.ILPHours)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @Html.HiddenFor(x => x.FPCSCourseId)
                @Html.HiddenFor(x => x.StudentPacketCourseId)
                @Html.HiddenFor(x => x.AdminSignatureInt)
                @Html.HiddenFor(x => x.InstructorSignatureGuid)
                @Html.DisplayTextFor(x => x.FPCSCourseName)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(Model.TeacherName))
                {
                    @Html.DisplayTextFor(x => x.TeacherName)
                }
                else
                {
                    @Html.DisplayTextFor(x => x.GuardianName)
                }
            </td>
            <td>
                @Html.DisplayTextFor(x => x.Subject)
            </td>
            <td>
                @Model.Semester.GetDescription()
            </td>
            <td>
                @Model.ILPHours
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-hover" style="font-size:13px">
    <tbody>
        <tr>
            <td class="vertical_middle">
                <div class="bold">Course Signatures</div>
            </td>
            <td class="vertical_middle">
                @if (Model.IsInstructorGuardian)
                {
                    <div class="bold">@Html.DisplayNameFor(x => x.GuardiansSignature) / @Html.DisplayNameFor(x => x.InstructorSignature)</div> @Model.GuardiansSignature
                }
                else
                {
                    <div class="bold">@Html.DisplayNameFor(x => x.GuardiansSignature)</div> @Model.GuardiansSignature
                }
            </td>
            <td class="vertical_middle">
            @if (Model.IsInstructorSponsor)
            {
                <div class="bold">@Html.DisplayNameFor(x => x.SponsorSignature) / @Html.DisplayNameFor(x => x.InstructorSignature)</div> @Model.SponsorSignature
            }
            else
            {
                <div class="bold">@Html.DisplayNameFor(x => x.SponsorSignature)</div> @Model.SponsorSignature
            }
            </td>
            @if (!Model.IsInstructorSponsor && !Model.IsInstructorGuardian)
            {
                <td class="vertical_middle">
                    <div class="bold">@Html.DisplayNameFor(x => x.InstructorSignature)</div> @Model.InstructorSignature
                </td>
            }
            <td class="vertical_middle">
                <div class="bold">@Html.DisplayNameFor(x => x.AdminSignature)</div> @Model.AdminSignature
            </td>
        </tr>
    </tbody>
</table>
