﻿@model FPCS.Web.Admin.Models.StudentPacket2.ListPrintReimbursementModel
@using FPCS.Web.Admin.Models.StudentPacket2;
@using FPCS.Core.Extensions;

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.studentPacket2.printReimbursement()">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">
    @if (Model.PrintReimbursements.Count == 0)
    {
        <div class="sheetPrint">
            <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
                <tbody>
                    <tr>
                        <td align="center" class="svplain10">
                            <span class="fs17">This family doesn't have any reimbursements</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    @foreach (var item in Model.PrintReimbursements)
    {
        <div class="sheetPrint">
            @Html.Hidden("TotalReimbursement", item.Total, new { @class = "hidTotalReimbursement" })
            <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
                <tbody>
                    <tr>
                        <td align="left">
                            <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                        </td>
                        <td align="right" class="svplain10">
                            @item.PrintAddress<br>@item.PrintState<br>Ph: @item.PrintPhone<br>Fax: @item.PrintFax
                        </td>
                    </tr>
                </tbody>
            </table>

            <table id="Table5" width="100%">
                <tr class="yellowHeader" valign=middle style="font-size:14px">
                    <td colspan=2 valign="middle">
                        <table cellpadding=2 cellspacing=0 align=right id="Table6" class="yellowHeader">
                            <tr>
                                <td align=right valign=middle style="font-size:14px">
                                    <b>@item.Title&nbsp;&nbsp;</b>
                                </td>
                            </tr>
                        </table>
                        <b>&nbsp;Request for Reimbursement</b>
                    </td>
                </tr>
                <tr class="instruction">
                    <td class="svplain8">
                        <b>This page will print the Reimbursement forms based on your selections below.</b>
                        <ul>
                            <li>First, please select all the items below that you would like included on the Reimbursement form. </li>
                            <li><b>Then click the "Print' button.</b></li>
                        </ul>
                    </td>
                </tr>
            </table>

            <div class="infoCheckPayable" style="display:none">
                <center>
                    <br />
                    <table id="Table1">
                        <tr class=svplain10>
                            <td>
                                <nobr><b>Check Payable to:</b></nobr>
                            </td>
                            <td>
                                <b><u>_________________________________</u></b>
                            </td>
                            <td width=0%>
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                <b>Date:</b>
                            </td>
                            <td>
                                __________________
                            </td>
                        </tr>
                        <tr class=svplain6>
                            <td>
                                &nbsp;
                            </td>
                            <td valign=top style="font-size:10px;">
                                (person/organization to whom the check is to be written)
                            </td>
                            <td colspan=3>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                    <br>
                </center>
            </div>

            <table id="Table8" width="100%">
                <tr>
                    <td class="svplain8">
                        <b>Vendor name:</b>&nbsp;@item.VendorName
                    </td>
                </tr>
            </table>

            <div class="infoProcedures" style="display:none">
                <center>
                    <br />
                    <table width=90% id="Table3">
                        <tr>
                            <td class=svplain10 colspan=2>
                                <b>Procedures:</b>
                            </td>
                        </tr>
                        <tr class=svplain10>
                            <td valign=top width=0%>
                                1.
                            </td>
                            <td width=100%>
                                Staple <b>Original</b> receipts to the back of this form.
                            </td>
                        </tr>
                        <tr class=svplain10>
                            <td valign=top width=0%>
                                2.
                            </td>
                            <td>
                                Attach proof of payment and packing slip, if purchased online.
                            </td>
                        </tr>
                        <tr class=svplain10>
                            <td valign=top width=0%>
                                3.
                            </td>
                            <td>
                                Circle items on receipt that are to be reimbursed (Please do not use highlighters).
                            </td>
                        </tr>
                        <tr class=svplain10>
                            <td valign=top width=0%>
                                4.
                            </td>
                            <td>
                                Write amount requested in the 'Requested Amount Column'
                            </td>
                        </tr>
                        <tr class=svplain10>
                            <td valign=top width=0%>
                                5.
                            </td>
                            <td>
                                Bring all non-consumable items to FPCS to be bar coded, after that, reimbursements will be paid.
                            </td>
                        </tr>
                        <tr class=svplain10>
                            <td valign=top width=0%>
                                6.
                            </td>
                            <td>
                                No single receipt shall exceed $200
                            </td>
                        </tr>
                    </table>
                    <br />
                </center>
            </div>

            <center>
                <table id="Table7">
                    <table width=100% cellpadding=2 cellspacing=0 border=1 bordercolor=c0c0c0 class=svplain8 id="Table4">
                        <tr bgcolor=e6e6e6 style="font-color:white">
                            <td align=center valign=top class="cbColumn">
                                <b>&nbsp;Select&nbsp;</b>
                            </td>
                            <td align=center valign=top>
                                <b>Item</b>
                            </td>
                            <td align=center valign=top>
                                <b>Budgeted Amount</b>
                            </td>
                            <td align=center valign=top>
                                <b>Requested Amount</b>
                            </td>
                            <td align=center valign=top>
                                <b>Course</b>
                            </td>
                            <td align=center valign=top>
                                <b>Student Name</b>
                            </td>
                        </tr>
                        @foreach (var item2 in item.Reimbursements)
                        {
                            <tr>
                                <td align=center valign=top class="cbColumn">
                                    <input type="checkbox" name="selectedIDs" class="cbSelectedReimbursement" checked="checked">
                                    <input type="hidden" class="hidBudgetedAmount" value="@item2.BudgetedAmount" />
                                </td>
                                <td align=center valign=middle>
                                    @item2.Item&nbsp;(#@item2.GoodServiceId)
                                </td>
                                <td align=right valign="middle">
                                    $@item2.BudgetedAmount
                                </td>
                                <td align=center valign=top>
                                    &nbsp;&nbsp;
                                </td>
                                <td align=center valign=middle>
                                    @item2.Course
                                </td>
                                @if (item2.IsWithdrawal)
                                {
                                    <td align=center valign=middle class="red">
                                        @item2.StudentName
                                    </td>
                                }
                                else
                                {
                                    <td align=center valign=middle>
                                        @item2.StudentName
                                    </td>
                                }     
                            </tr>
                        }
                        <tr>
                            <td colspan=2 align=right>
                                <b>Total</b>
                            </td>
                            <td align=right class="totalReimbursement">
                                $@item.Total&nbsp;
                            </td>
                            <td colspan=4></td>
                        </tr>
                    </table>
                </table>
            </center>
            <br><br>
            <pre style="background-color:white; border:none">
            ___________________________________    ________________________________
            Parent Name (print)                    Parent Signature
            ___________________________________    ________________________________
            Sponsor Name (print)                   Sponsor Signature
            ___________________________________
            FPCS Signature
            </pre>
        </div>
        <div class="sheet_break"></div>
    }
</div>