﻿@model FPCS.Web.Admin.Models.StudentPacket2.SponsorTeacherModel

@using (Html.BeginForm("_SponsorTeacherEdit", "StudentPacket2", FormMethod.Post, new { id = "sponsorTeacherEditForm", @class = "" }))
{
    @Html.AntiForgeryToken()

    <div class="controls">
        @Html.ValidationSummary(true)
    </div>
    
    @Html.HiddenFor(x => x.StudentPacketId)
    @Html.HiddenFor(x => x.Name)

    <div class="control-group">
        @Html.LabelFor(x => x.Name, new { @class = "control-label" })
        <div class="controls">
            <div class="input-append">
                @Html.DropDownListFor(x => x.TeacherId, Model.Teachers, new { @class = "input-xlarge", id = "sponsorId" })
                <button id="sponsorTeacherSend" class="btn btn-small btn-success">Save</button>
                <button id="sponsorTeacherCancel" class="btn btn-small btn-primary">Cancel</button>
            </div>
            @Html.ValidationMessageFor(m => m.TeacherId)
        </div>
    </div>
}