﻿@model FPCS.Web.Admin.Models.StudentPacket2.ZangleModel

@Html.HiddenFor(x => x.StudentId, new { id = "studentId" })
<div class="control-group">
    @Html.LabelFor(x => x.Name, new { @class = "control-label" })
    <div class="controls">
        <div class="input-group">
            <div class="input-append">
                <input type="text" name="Name" value="@Model.Name" class="input-xlarge" readonly="true" />
                <button id="zangleEdit" packetId="@Model.StudentPacketId" class="btn btn-small btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
