﻿@model FPCS.Web.Admin.Models.StudentPacket2.ZangleModel

@using (Html.BeginForm("_ZangleEdit", "StudentPacket2", FormMethod.Post, new { id = "zangleEditForm", @class = "" }))
{
    @Html.AntiForgeryToken()

    <div class="controls">
        @Html.ValidationSummary(true)
    </div>
    
    @Html.HiddenFor(x => x.StudentId)
    @Html.HiddenFor(x => x.StudentPacketId)

    <div class="control-group">
        @Html.LabelFor(x => x.Name, new { @class = "control-label" })
        <div class="controls">
            <div class="input-append">
                @Html.TextBoxFor(x => x.Name, new { @class = "input-xlarge", id = "name" })
                <button id="zangleSend" class="btn btn-small btn-success">Save</button>
                <button id="zangleCancel" class="btn btn-small btn-primary">Cancel</button>
            </div>
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
}