﻿@model FPCS.Web.Admin.Models.StudentPacket2.StudentPacketModel
@using FPCS.Web.Admin.Models.StudentPacket2;
@using FPCS.Data.Enums;
@using FPCS.Core.Extensions;

<style>
    .withoutBorder td {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
</style>

@{
    ViewBag.Title = "Student Packet Manager : " + Model.StudentName + " - Grade: " + Model.StudentGradeStr + (Model.IsLocked ? " - Locked " : String.Empty);
    ViewBag.Header = "Student Packet Manager : " + Model.StudentName + " - Grade: " + Model.StudentGradeStr + (Model.IsLocked ? " - Locked " : String.Empty);
}

@Html.HiddenFor(x => x.StudentId)
@Html.HiddenFor(x => x.StudentPacketId, new { id = "studentPacketId" })
@Html.HiddenFor(x => x.StudentPacketId, new { id = "StudentPacketId" })
@Html.HiddenFor(x => x.IsASDTASigned, new { id = "isASDTASigned" })
@Html.HiddenFor(x => x.IsPRASigned, new { id = "isPRASigned" })
@Html.HiddenFor(x => x.SponsorTeacherId, new { id = "sponsorTeacherId" })
@Html.HiddenFor(x => x.CurrentUserId, new { id = "currentUserId" })
@Html.HiddenFor(x => x.SponsorshipOut, new { id = "sponsorshipOut" })
@Html.HiddenFor(x => x.SponsorSignatureSem1, new { id = "sponsorSignature" })
@Html.HiddenFor(x => x.GuardianSignatureSem1, new { id = "guardianSignature" })

@Html.HiddenFor(x => x.JsonSponsorTeachers, new { id = "jsonSponsorTeachers" })
@Html.HiddenFor(x => x.JsonSponsorSignatures, new { id = "jsonSponsorSignatures" })
@Html.HiddenFor(x => x.JsonAmpElas, new { id = "jsonAmpElas" })
@Html.HiddenFor(x => x.JsonAmpMaths, new { id = "jsonAmpMaths" })

@* if student packet is locked and current user isn't admin *@
@Html.Hidden("IsLocked", Model.IsLocked && Html.GetRoleCurrentUser() != 1, new { id = "isLocked" })
@Html.Hidden("SubjectSearchOptions", Model.SubjectSearchOptions, new { id = "subjectSearchOptions" })

<div class="row-fluid form-horizontal">
    <div class="span12">
        <div class="span12">
            <table>
                <tr>
                    <td>
                        <div class="control-group">
                            <label class="control-label">Student</label>
                            <div class="controls">
                                <div class="input-group">
                                    @if (Model.IsWithdrawal)
                                    {
                                        <a id="studentMove" title="student info"data-id="@Model.StudentId" class="red a-xlarge">@Model.StudentName</a>
                                        <span id="spnStudentMove" class="red a-xlarge" style="display: none">@Model.StudentName</span>
                                    }
                                    else
                                    {
                                        <a id="studentMove" title="student info"data-id="@Model.StudentId" class="a-xlarge">@Model.StudentName</a>
                                        <span id="spnStudentMove" class="a-xlarge" style="display: none">@Model.StudentName</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="control-group">
                            <label class="control-label">Family</label>
                            <div class="controls">
                                <div class="input-group">
                                    <a id="familyMove" title="family info"data-id="@Model.FamilyId" class="a-xlarge">@Model.FamilyName</a>
                                    <span id="spnFamilyMove" class="a-xlarge" style="display:none">@Model.FamilyName</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Zangle ID</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="zangleEdit" title="edit Zangle" class="a-xlarge" data-name="Zangle" data-pk="@Model.StudentId" data-url="@Url.Action("UpdateFieldStudent", "StudentPacket2")" data-type="text">@Model.ZangleId</a>
                                        <span id="spnZangleEdit" class="a-xlarge" style="display: none">@Model.ZangleId</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">State ID</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="stateEdit" title="edit SatateId" class="a-xlarge" data-name="State" data-pk="@Model.StudentId" data-url="@Url.Action("UpdateFieldStudent", "StudentPacket2")" data-type="text">@Model.StateId</a>
                                        <span id="spnStateEdit" class="a-xlarge" style="display:none">@Model.StateId</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:top;text-align:right">
                        <span id="spnIsASDTA" class="a-small" style="margin-left:40px"><img src="../../../Content/img/tick.png" />ASD testing agreement signed</span>
                    </td>
                    <td style="vertical-align:top;text-align:right">
                        <span id="spnIsPRA" class="a-small" style="margin-left:20px"><img src="../../../Content/img/tick.png" />Progress report agreement signed</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Sponsor Teacher</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="sponsorTeacherEdit" title="edit Sponsor teacher" class="a-xlarge" data-name="SponsorTeacher" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-type="select">@Model.SponsorTeacherName</a>
                                        <span id="spnSponsorTeacherEdit" class="a-xlarge" style="display:none">@Model.SponsorTeacherName</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="control-group">
                                <label class="control-label">General Expenses</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="sponsorshipEdit" title="add/remove items" class="a-xlarge">$@Model.Sponsorship</a> @*out of $@Model.SponsorshipOut*@
                                        <span id="spnSponsorshipEdit" class="a-xlarge" style="display:none">$@Model.Sponsorship.ToString("F")</span> @*out of $@Model.SponsorshipOut.ToString("F")*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="control-group control-group-without-bottom">
                                <label class="control-label">Amp E-LA</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="ampElaEdit" title="edit Amp E-LA" class="a-xlarge edtAmpEditable" data-name="AmpEla" data-mark="@((Int32)Model.AmpEla)" data-comment="@Model.AmpElaComment" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldAmp", "StudentPacket2")" data-type="amp_editable">@Model.AmpEla.GetDescription()</a>
                                        <span id="spnAmpElaEdit" class="a-xlarge" style="display:none">@Model.AmpEla.GetDescription()</span>
                                        <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@Model.AmpElaComment" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="control-group control-group-without-bottom">
                                <label class="control-label">Amp Math</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="ampMathEdit" title="edit Amp Math" class="a-xlarge edtAmpEditable" data-name="AmpMath" data-mark="@((Int32)Model.AmpMath)" data-comment="@Model.AmpMathComment" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldAmp", "StudentPacket2")" data-type="amp_editable">@Model.AmpMath.GetDescription()</a>
                                        <span id="spnAmpMathEdit" class="a-xlarge" style="display:none">@Model.AmpMath.GetDescription()</span>
                                        <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@Model.AmpMathComment" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="control-group control-group-without-bottom">
                                <label class="control-label">504</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="a504Edit" title="edit" class="a-xlarge edta504Editable" data-name="A504" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-type="select">@Model.A504</a>
                                        <span id="spnA504Edit" class="a-xlarge" style="display:none">@Model.A504</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="control-group control-group-without-bottom">
                                <label class="control-label">SWD</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="swdEdit" title="edit" class="a-xlarge edtSWDEditable" data-name="SWD" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-type="select">@Model.SWD</a>
                                        <span id="spnSWDEdit" class="a-xlarge" style="display:none">@Model.SWD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="packet-for-cost">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Total</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="a-xlarge">$@Model.PBBeginningBalance.ToString("F")</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Transfer</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="a-xlarge">$@((Model.PBBudgetTransferDeposits - Model.ASBudgetTransferWithdrawals).ToString("F"))</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="packet-for-cost">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Elective</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="a-xlarge">$@Model.IndividualBudgetBudgetLimit.ToString("F")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Left</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="a-xlarge weightB">$@Model.PBAvailableRemainingFundsTotal.ToString("F")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <table class="width100per">
            <tbody>
                <tr>
                    <td colspan="8">
                        <h3 class="header smaller lighter green clearfix">
                            <button id="showSemester1" class="btn btn-success btn-small pull-left ml5 hgt32">Semester 1</button>
                            <button id="showSemester2" class="btn btn-print btn-small pull-left ml5 hgt32">Semester 2</button>
                            <button id="showSummer" style="display:none" class="btn btn-print btn-small pull-left ml5 hgt32">Summer</button>
                            
                            <input type="hidden" id="hdnNumberSemester" value="@(Model.Semester.HasValue ? (Int32)Model.Semester.Value : (Int32)Semester.Semester1)" />
                            <input type="hidden" id="cntCourses" value="@Model.StudentPacketCourseModels.Count()" />

                            <div class="btn-group pull-right ml5 hgt32 create-add-course-sem1">
                                <button class="btn btn-success btn-small pull-right ml5 dropdown-toggle hgt32 showAddCourseDialogUp">Add course</button>

                                @*<button data-toggle="dropdown" class="btn btn-success btn-small pull-right ml5 dropdown-toggle hgt32">
                                    Add course
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-info pull-right">
                                    <li>
                                        <a class="showPlanCourseDialogUp" href="#">Add existing</a>
                                    </li>
                                    <li>
                                        <a class="showAddCourseDialogUp" href="#">Plan new</a>
                                    </li>
                                </ul>*@
</div>

                            <div class="btn-group pull-right ml5 hgt32 create-add-course-sem2" style="display:none">
                                <button data-toggle="dropdown" class="btn btn-success btn-small pull-right ml5 dropdown-toggle hgt32">
                                 Add course
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-info pull-right">
                                    <li>
                                        <a class="showPlanCourseDialogUp" href="#">Add existing</a>
                                    </li>
                                    <li>
                                        <a class="showAddCourseDialogUp" href="#">Plan new</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group pull-right ml5 hgt32 create-add-course-summer" style="display:none">
                                <button data-toggle="dropdown" class="btn btn-success btn-small pull-right ml5 dropdown-toggle hgt32">
                                    Add course
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-info pull-right">
                                    <li>
                                        <a class="showPlanCourseDialogUp" href="#">Add existing</a>
                                    </li>
                                    <li>
                                        <a class="showAddCourseDialogUp" href="#">Plan new</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group pull-right ml5 hgt32">
								<button data-toggle="dropdown" class="btn btn-print btn-small pull-right ml5 dropdown-toggle hgt32">
									Print
									<span class="caret"></span>
								</button>

								<ul class="dropdown-menu dropdown-info pull-right">
									<li>
										<a id="printStudentPacket" href="#">Print Student Packet</a>
									</li>
									<li>
										<a id="printReimbursement" href="#">Print Reimbursement</a>
									</li>
								</ul>
							</div>
                            
                            <button id="refreshPlanCourseDialog" class="btn btn-success btn-small pull-right ml5 hgt32">Refresh</button>
                            <button id="showProgressReportAgreementDialog" class="btn btn-success btn-small pull-right ml5 hgt32">Progress Report Agreement</button>
                            <button id="showASDTestingAgreementDialog" class="btn btn-success btn-small pull-right ml5">ASD Testing Agreement</button>

                            <button id="editILPPhilosophyDialog" class="btn btn-success btn-small pull-right" style="display:none">ILP Philosophy</button>
                        </h3>
                    </td>
                    <td>
                    </td>
                </tr>
                @if (Model.StudentPacketCourseModels != null && Model.StudentPacketCourseModels.Count() > 0)
                {
                    <tr>
                        <td colspan="8">
                            <table class="table table-striped table-bordered table-hover table-mini-bottom table-semester1">
                                <thead>
                                    <tr>
                                        <th class="width105">Subject</th>
                                        <th class="width105">In Zangle</th>
                                        <th class="width50">Unit</th>
                                        <th>Name</th>
                                        <th>Course Description</th>
                                        <th class="width105">Rep</th>
                                        <th class="width50">S<sup>1</sup></th>
                                        <th class="width50">S<sup>2</sup></th>
                                        <th class="width50">S<sup>3</sup></th>
                                        <th class="width50">Q1</th>
                                        <th class="width50">S<sup>1</sup></th>
                                        <th class="width50">S<sup>2</sup></th>
                                        <th class="width50">S<sup>3</sup></th>
                                        <th class="width50">Q2</th>
                                        <th class="width50">SEM1</th>
                                        <th class="width150">Total</th>
                                        <th class="width105">Actions</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr class="withoutBorder">
                                        <td></td>
                                        <td></td>
                                        <td><b>@Model.StudentPacketCourseModels.Where(x => x.Semester == Semester.Semester1).Sum(x => x.GradeCredit)</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    @foreach (var item in Model.StudentPacketCourseModels.Where(x => x.Semester == Semester.Semester1))
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(x => item.FPCSCourseId)
                                                @Html.HiddenFor(x => item.StudentPacketCourseId)
                                                @Html.DisplayTextFor(x => item.Subject)
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || Html.IsAccessEnabled(Role.Teacher))
                                                {
                                                    <span class="xsysval">@item.IsInSystem</span>
                                                }
                                                else
                                                {
                                                    <a class="xsys xsysval" title="edit yes/no" data-name="IsInSystem" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.IsInSystem</a>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.GradeCredit)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.FPCSCourseName)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.ILPName)
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Repeat.GetDescription()</span>
                                                }
                                                else
                                                {
                                                    <a class="xrpt" title="edit yes/no" data-name="Repeat" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Repeat.GetDescription()</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr11</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 1 grade" data-name="Qtr11" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr11</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr12</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 2 grade" data-name="Qtr12" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr12</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr13</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 3 grade" data-name="Qtr13" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr13</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Q1</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q1Comment" />
                                                }
                                                else
                                                {
                                                    <a class="edtQtrEditable fWCD" title="quarter 1 grade" data-lock="@item.Q1IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Q1" data-comment="@item.Q1Comment" data-name="Q1" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldQ", "StudentPacket2")" data-type="qtr_editable">@item.Q1</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q1Comment" />
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr21</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 1 grade" data-name="Qtr21" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr21</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr22</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 2 grade" data-name="Qtr22" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr22</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr23</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 3 grade" data-name="Qtr23" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr23</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Q2</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q2Comment" />
                                                }
                                                else
                                                {
                                                    <a class="edtQtrEditable fWCD" title="quarter 2 grade" data-lock="@item.Q2IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Q2" data-comment="@item.Q2Comment" data-name="Q2" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldQ", "StudentPacket2")" data-type="qtr_editable">@item.Q2</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q2Comment" />
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Sem1</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Sem1Comment Credit: @item.Sem1Credit" />
                                                }
                                                else
                                                {
                                                    <a class="edtSemEditable fWCG" title="semester 1 grade" data-lock="@item.Sem1IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Sem1" data-comment="@item.Sem1Comment" data-credit="@item.Sem1Credit" data-name="Sem1" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldS", "StudentPacket2")" data-type="sem_editable">@item.Sem1</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Sem1Comment Credit: @item.Sem1Credit" />
                                                }
                                            </td>
                                            <td>
                                                <span>$@item.TableGoodAndService.PlanningBudgetTotal</span>
                                            </td>
                                            <td>
                                                <div class="action-buttons">
                                                    <a class="green infoFPCSCourse" title="view/edit course" data-instructor="@item.TeacherId" data-fpcscourseid="@item.FPCSCourseId" href="#"><i class="icon-info bigger-130"></i></a>
                                                    <a class="blue dataFPCSStudentPacketCourse" title="add/remove items" data-instructor="@item.TeacherId" data-studentpacketcourseid="@item.StudentPacketCourseId" href="#"><i class="icon-pencil bigger-130"></i></a>
                                                    <a class="red deleteStudentPacketCourse" title="remove class" data-instructor="@item.TeacherId" data-studentpacketcourseid="@item.StudentPacketCourseId" href="#"><i class="icon-trash bigger-130"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered table-hover table-mini-bottom table-semester2" style="display:none">
                                <thead>
                                    <tr>
                                        <th class="width105">Subject</th>
                                        <th class="width105">In Zangle</th>
                                        <th class="width50">Unit</th>
                                        <th>Name</th>
                                        <th>Course Description</th>
                                        <th class="width105">Rep</th>
                                        <th class="width50">S<sup>1</sup></th>
                                        <th class="width50">S<sup>2</sup></th>
                                        <th class="width50">S<sup>3</sup></th>
                                        <th class="width50">Q3</th>
                                        <th class="width50">S<sup>1</sup></th>
                                        <th class="width50">S<sup>2</sup></th>
                                        <th class="width50">S<sup>3</sup></th>
                                        <th class="width50">Q4</th>
                                        <th class="width50">SEM2</th>
                                        <th class="width150">Total</th>
                                        <th class="width105">Actions</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr class="withoutBorder">
                                        <td></td>
                                        <td></td>
                                        <td><b>@Model.StudentPacketCourseModels.Where(x => x.Semester == Semester.Semester2).Sum(x => x.GradeCredit)</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    @foreach (var item in Model.StudentPacketCourseModels.Where(x => x.Semester == Semester.Semester2))
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(x => item.FPCSCourseId)
                                                @Html.HiddenFor(x => item.StudentPacketCourseId)
                                                @Html.DisplayTextFor(x => item.Subject)
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span class="xsysval">@item.IsInSystem</span>
                                                }
                                                else
                                                {
                                                    <a class="xsys xsysval" data-name="IsInSystem" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.IsInSystem</a>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.GradeCredit)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.FPCSCourseName)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.ILPName)
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Repeat.GetDescription()</span>
                                                }
                                                else
                                                {
                                                    <a class="xrpt" data-name="Repeat" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Repeat.GetDescription()</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr31</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 1 grade" data-name="Qtr31" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr31</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr32</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 2 grade" data-name="Qtr32" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr32</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr33</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 3 grade" data-name="Qtr33" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr33</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Q3</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q3Comment" />
                                                }
                                                else
                                                {
                                                    <a class="edtQtrEditable fWCD" title="quarter 3 grade" data-lock="@item.Q3IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Q3" data-comment="@item.Q3Comment" data-name="Q3" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldQ", "StudentPacket2")" data-type="qtr_editable">@item.Q3</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q3Comment" />
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr41</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 1 grade" data-name="Qtr41" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr41</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr42</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 2 grade" data-name="Qtr42" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr42</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr43</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 3 grade" data-name="Qtr43" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr43</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Q4</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q4Comment" />
                                                }
                                                else
                                                {
                                                    <a class="edtQtrEditable fWCD" title="quarter 4 grade" data-lock="@item.Q4IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Q4" data-comment="@item.Q4Comment" data-name="Q4" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldQ", "StudentPacket2")" data-type="qtr_editable">@item.Q4</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q4Comment" />
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Sem2</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Sem2Comment Credit: @item.Sem2Credit" />
                                                }
                                                else
                                                {
                                                    <a class="edtSemEditable fWCG" title="semester 2 grade" data-lock="@item.Sem2IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Sem2" data-comment="@item.Sem2Comment" data-credit="@item.Sem2Credit" data-name="Sem2" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldS", "StudentPacket2")" data-type="sem_editable">@item.Sem2</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Sem2Comment Credit: @item.Sem2Credit" />
                                                }
                                            </td>
                                            <td>
                                                <span>$@item.TableGoodAndService.PlanningBudgetTotal</span>
                                            </td>
                                            <td>
                                                <div class="action-buttons">
                                                    <a class="green infoFPCSCourse" title="view/edit course" data-instructor="@item.TeacherId" data-fpcscourseid="@item.FPCSCourseId" href="#"><i class="icon-info bigger-130"></i></a>
                                                    <a class="blue dataFPCSStudentPacketCourse" title="add/remove items" data-instructor="@item.TeacherId" data-studentpacketcourseid="@item.StudentPacketCourseId" href="#"><i class="icon-pencil bigger-130"></i></a>
                                                    <a class="red deleteStudentPacketCourse" title="remove class" data-instructor="@item.TeacherId" data-studentpacketcourseid="@item.StudentPacketCourseId" href="#"><i class="icon-trash bigger-130"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered table-hover table-mini-bottom table-summer" style="display:none">
                                <thead>
                                    <tr>
                                        <th class="width105">Subject</th>
                                        <th class="width105">In Zangle</th>
                                        <th class="width50">Unit</th>
                                        <th>Name</th>
                                        <th>Course Description</th>
                                        <th class="width105">Rep</th>
                                        <th class="width50">S<sup>1</sup></th>
                                        <th class="width50">S<sup>2</sup></th>
                                        <th class="width50">S<sup>3</sup></th>
                                        <th class="width50">Q5</th>
                                        <th class="width50">S<sup>1</sup></th>
                                        <th class="width50">S<sup>2</sup></th>
                                        <th class="width50">S<sup>3</sup></th>
                                        <th class="width50">Q6</th>
                                        <th class="width50">SEM2</th>
                                        <th class="width150">Total</th>
                                        <th class="width105">Actions</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr class="withoutBorder">
                                        <td></td>
                                        <td></td>
                                        <td><b>@Model.StudentPacketCourseModels.Where(x => x.Semester == Semester.Summer).Sum(x => x.GradeCredit)</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    @foreach (var item in Model.StudentPacketCourseModels.Where(x => x.Semester == Semester.Summer))
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(x => item.FPCSCourseId)
                                                @Html.HiddenFor(x => item.StudentPacketCourseId)
                                                @Html.DisplayTextFor(x => item.Subject)
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span class="xsysval">@item.IsInSystem</span>
                                                }
                                                else
                                                {
                                                    <a class="xsys xsysval" data-name="IsInSystem" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.IsInSystem</a>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.GradeCredit)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.FPCSCourseName)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(x => item.ILPName)
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Repeat.GetDescription()</span>
                                                }
                                                else
                                                {
                                                    <a class="xrpt" data-name="Repeat" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Repeat.GetDescription()</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr51</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 1 grade" data-name="Qtr51" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr51</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr52</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 2 grade" data-name="Qtr52" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr52</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr53</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 3 grade" data-name="Qtr53" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr53</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Q5</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q5Comment" />
                                                }
                                                else
                                                {
                                                    <a class="edtQtrEditable fWCD" title="quarter 5 grade" data-lock="@item.Q5IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Q5" data-comment="@item.Q5Comment" data-name="Q5" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldQ", "StudentPacket2")" data-type="qtr_editable">@item.Q5</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q5Comment" />
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr61</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 1 grade" data-name="Qtr61" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr61</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr62</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 2 grade" data-name="Qtr62" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr62</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Qtr63</span>
                                                }
                                                else
                                                {
                                                    <a class="xedt" title="sample 3 grade" data-name="Qtr63" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateField", "StudentPacket2")" data-type="select">@item.Qtr63</a>
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Q6</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q6Comment" />
                                                }
                                                else
                                                {
                                                    <a class="edtQtrEditable fWCD" title="quarter 6 grade" data-lock="@item.Q6IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Q6" data-comment="@item.Q6Comment" data-name="Q6" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldQ", "StudentPacket2")" data-type="qtr_editable">@item.Q6</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Q6Comment" />
                                                }
                                            </td>
                                            <td>
                                                @if (Html.IsAccessEnabled(Role.Guardian) || (Html.IsAccessEnabled(Role.Teacher) && item.TeacherId != Model.CurrentUserId && Model.SponsorTeacherId != Model.CurrentUserId))
                                                {
                                                    <span>@item.Sem3</span>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Sem3Comment Credit: @item.Sem3Credit" />
                                                }
                                                else
                                                {
                                                    <a class="edtSemEditable fWCG" title="semester 3 grade" data-lock="@item.Sem3IsLock" data-admin="@Html.IsAccessEnabled(Role.Admin)" data-mark="@item.Sem3" data-comment="@item.Sem3Comment" data-credit="@item.Sem3Credit" data-name="Sem3" data-pk="@item.StudentPacketCourseId" data-url="@Url.Action("UpdateFieldS", "StudentPacket2")" data-type="sem_editable">@item.Sem3</a>
                                                    <img src="~/Content/images/info.png" class="imgComment" width="16" height="16" title="@item.Sem3Comment Credit: @item.Sem3Credit" />
                                                }
                                            </td>
                                            <td>
                                                <span>$@item.TableGoodAndService.PlanningBudgetTotal</span>
                                            </td>
                                            <td>
                                                <div class="action-buttons">
                                                    <a class="green infoFPCSCourse" title="view/edit course" data-instructor="@item.TeacherId" data-fpcscourseid="@item.FPCSCourseId" href="#"><i class="icon-info bigger-130"></i></a>
                                                    <a class="blue dataFPCSStudentPacketCourse" title="add/remove items" data-instructor="@item.TeacherId" data-studentpacketcourseid="@item.StudentPacketCourseId" href="#"><i class="icon-pencil bigger-130"></i></a>
                                                    <a class="red deleteStudentPacketCourse" title="remove class" data-instructor="@item.TeacherId" data-studentpacketcourseid="@item.StudentPacketCourseId" href="#"><i class="icon-trash bigger-130"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="8">
                            <div class="text-add-first-course">
                                This student doesn't have any courses listed yet
                            </div>

                            <div class="btn-add-first-course">
                                <div class="btn-group pull-right ml5 hgt32">
                                    <button class="btn btn-success btn-small pull-right ml5 dropdown-toggle hgt32 showAddCourseDialogMiddle">Add first course</button>

                                    @*<button data-toggle="dropdown" class="btn btn-success btn-small pull-right ml5 dropdown-toggle hgt32">
                                        Add first course
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu dropdown-info pull-right">
                                        <li>
                                            <a class="showPlanCourseDialogMiddle" href="#">Add existing course</a>
                                        </li>
                                        <li>
                                            <a class="showAddCourseDialogMiddle" href="#">Plan new course</a>
                                        </li>
                                    </ul>*@
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="8">
                        <h3 class="header smaller lighter green clearfix">
                           
                        </h3>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="span12 signature-semester1">
            <table>
                <tr>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Sponsor Signature</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="sponsorSignatureSem1Edit" class="a-xlarge" title="@Model.DateSponsorSignatureSem1Str" data-name="SponsorSignatureSem1" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-signature="@Model.SponsorSignatureSem1" data-type="select">
                                            @if (Model.SponsorSignatureSem1.HasValue)
                                            {
                                                <text>@Model.SponsorSignatureSem1.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                                <text>Not signed</text>
                                            }
                                        </a>
                                        <span id="spnSponsorSignatureSem1Edit" class="a-xlarge" title="@Model.DateSponsorSignatureSem1Str" data-signature="@Model.SponsorSignatureSem1" style="display: none">
                                            @if (Model.SponsorSignatureSem1.HasValue)
                                            {
                                                <text>@Model.SponsorSignatureSem1.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                                <text>Not signed</text>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Guardian Signature</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="guardianSignatureSem1Edit" class="a-xlarge" title="@Model.DateGuardianSignatureSem1Str" data-name="GuardianSignatureSem1" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-signature="@Model.GuardianSignatureSem1" data-type="select">
                                            @if (Model.GuardianSignatureSem1.HasValue)
                                            {
                                                <text>@Model.GuardianSignatureSem1.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                                <text>Not signed</text>
                                            }
                                        </a>
                                        <span id="spnGuardianSignatureSem1Edit" class="a-xlarge" title="@Model.DateGuardianSignatureSem1Str" data-signature="@Model.GuardianSignatureSem1" style="display: none">
                                            @if (Model.GuardianSignatureSem1.HasValue)
                                            {
                                                <text>@Model.GuardianSignatureSem1.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                                <text>Not signed</text>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label family-info">Family: Name - @Model.FamilyName; Phone - @Model.FamilyPhone; Email - </label>
                                <a href="mailto:@Model.FamilyEmail?cc=@Model.SponsorTeacherEmail" class="a-xlarge"
                                           title="Send Email"> @Model.FamilyEmail</a>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="warning" style="display:block">
                            Please note that:
                        </span>
                        <ol>
                            <li>Funds are not available until packet is signed both by sponsor teacher and by guardian</li>
                            <li>Once packet is signed, contact your sponsor teacher for additions and modifications</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </div>

        <div class="span12 signature-semester2" style="display:none">
            <table>
                <tr>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Sponsor Signature</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="sponsorSignatureSem2Edit" class="a-xlarge" title="@Model.DateSponsorSignatureSem2Str" data-name="SponsorSignatureSem2" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-signature="@Model.SponsorSignatureSem2" data-type="select">
                                            @if (Model.SponsorSignatureSem2.HasValue)
                                            {
                                                <text>@Model.SponsorSignatureSem2.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </a>
                                        <span id="spnSponsorSignatureSem2Edit" class="a-xlarge" title="@Model.DateSponsorSignatureSem2Str" data-signature="@Model.SponsorSignatureSem2" style="display:none">
                                            @if (Model.SponsorSignatureSem2.HasValue)
                                            {
                                                <text>@Model.SponsorSignatureSem2.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Guardian Signature</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="guardianSignatureSem2Edit" class="a-xlarge" title="@Model.DateGuardianSignatureSem2Str" data-name="GuardianSignatureSem2" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-signature="@Model.GuardianSignatureSem2" data-type="select">
                                            @if (Model.GuardianSignatureSem2.HasValue)
                                            {
                                                <text>@Model.GuardianSignatureSem2.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </a>
                                        <span id="spnGuardianSignatureSem2Edit" class="a-xlarge" title="@Model.DateGuardianSignatureSem2Str" data-signature="@Model.GuardianSignatureSem2" style="display:none">
                                            @if (Model.GuardianSignatureSem2.HasValue)
                                            {
                                                <text>@Model.GuardianSignatureSem2.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        @*<span class="warning">Parents won’t be able to make any changes to the packet, If packet is signed both by sponsor and by parent.</span>*@
                    </td>
                </tr>
            </table>
        </div>

        <div class="span12 signature-summer" style="display:none">
            <table>
                <tr>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Sponsor Signature</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="sponsorSignatureSummerEdit" class="a-xlarge" title="@Model.DateSponsorSignatureSummerStr" data-name="SponsorSignatureSummer" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-signature="@Model.SponsorSignatureSummer" data-type="select">
                                            @if (Model.SponsorSignatureSummer.HasValue)
                                            {
                                                <text>@Model.SponsorSignatureSummer.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </a>
                                        <span id="spnSponsorSignatureSem2Edit" class="a-xlarge" title="@Model.DateSponsorSignatureSummerStr" data-signature="@Model.SponsorSignatureSummer" style="display:none">
                                            @if (Model.SponsorSignatureSummer.HasValue)
                                            {
                                                <text>@Model.SponsorSignatureSummer.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="control-group">
                                <label class="control-label">Guardian Signature</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <a id="guardianSignatureSummerEdit" class="a-xlarge" title="@Model.DateGuardianSignatureSummerStr" data-name="GuardianSignatureSummer" data-pk="@Model.StudentPacketId" data-url="@Url.Action("UpdateFieldPacket", "StudentPacket2")" data-signature="@Model.GuardianSignatureSummer" data-type="select">
                                            @if (Model.GuardianSignatureSummer.HasValue)
                                            {
                                                <text>@Model.GuardianSignatureSummer.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </a>
                                        <span id="spnGuardianSignatureSummerEdit" class="a-xlarge" title="@Model.DateGuardianSignatureSummerStr" data-signature="@Model.GuardianSignatureSummer" style="display:none">
                                            @if (Model.GuardianSignatureSummer.HasValue)
                                            {
                                                <text>@Model.GuardianSignatureSummer.Value.GetDescription()</text>
                                            }
                                            else
                                            {
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        @*<span class="warning">Parents won’t be able to make any changes to the packet, If packet is signed both by sponsor and by parent.</span>*@
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div id="planCourseDialog" class="hide">
    <div class="row-fluid form-horizontal">
        <div class="span12 planCourseGridWrapper">
            <table id="planCourseGridTable"></table>
            <div id="planCourseGridPager"></div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/css/jqGrid")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script type="text/javascript">
        jQuery(function ($) {
            fpcs.studentPacket2.initIndexPage();
        });
    </script>
}