﻿@model FPCS.Web.Admin.Models.FPCSStudentPacket.PrintEnrollmentListModel

<h3 class="header smaller lighter green clearfix">
    Please review the form and click print
    <button class="btn btn-warning btn-small pull-right ml5" onclick="fpcs.pdf('print')">To PDF</button>
    <button class="btn btn-success btn-small pull-right ml5" onclick="fpcs.print('print')">Print</button>
</h3>

<div id="print">
    <link rel="stylesheet" href="/Content/css/printStyle.css">

    <table width="100%" cellspacing="2" cellpadding="2" id="Table25">
        <tbody>
            <tr>
                <td align="left">
                    <img src="/Content/images/fpcsLogo.png" class="fpcs_logo" />
                </td>
                <td align="right" class="svplain10">
                    @Model.PrintAddress<br>@Model.PrintState<br>Ph: @Model.PrintPhone<br>Fax: @Model.PrintFax
                </td>
            </tr>
            <tr class="yellowHeader">
                <td colspan="2">
                    <table align="right" id="Table26">
                        <tbody>
                            <tr>
                                <td align="right">
                                    <font size="2" face="arial" color="white">
                                        @Model.PrintDateNow</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    @Html.HiddenFor(x => x.EnrollmentListModel.StudentPacketCourseId)
     
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.InstructedBy, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.InstructedBy, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.InstructedByHomePhone, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.InstructedByHomePhone, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.InstructedByWorkPhone, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.InstructedByWorkPhone, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.InstructedByEmail, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.InstructedByEmail, new { @class = "span6", @readonly = "true" })
        </div>
    </div>


    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.StartEndDates, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.StartEndDates, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.MeetsOn, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.MeetsOn, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.MinStudents, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.MinStudents, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.MaxStudents, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.MaxStudents, new { @class = "span6", @readonly = "true" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.EnrollmentListModel.NumberStudentsInClass, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.EnrollmentListModel.NumberStudentsInClass, new { @class = "span6", @readonly = "true" })
        </div>
    </div>

    <table id="goodAndServiceTable" class="table table-striped table-bordered table-hover" style="font-size:13px">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.EnrollmentListModel.Students[0].StudentsEnrolled)</th>
                <th>@Html.DisplayNameFor(x => x.EnrollmentListModel.Students[0].StudentsGuardians)</th>
                <th>@Html.DisplayNameFor(x => x.EnrollmentListModel.Students[0].StudentsGuardiansEmail)</th>
                <th>@Html.DisplayNameFor(x => x.EnrollmentListModel.Students[0].HomePhone)</th>
                <th>@Html.DisplayNameFor(x => x.EnrollmentListModel.Students[0].StudentsSponsor)</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.EnrollmentListModel.Students)
            {
            <tr>
                <td>
                    @Html.HiddenFor(x => item.StudentId)
                    @Html.DisplayTextFor(x => item.StudentsEnrolled)
                </td>
                <td>
                    @Html.DisplayTextFor(x => item.StudentsGuardians)
                </td>
                <td>
                    @Html.DisplayTextFor(x => item.StudentsGuardiansEmail)
                </td>
                <td>
                    @Html.DisplayTextFor(x => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayTextFor(x => item.StudentsSponsor)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

