﻿@model FPCS.Web.Admin.Models.FPCSStudentPacket.ReviewsModel

<div class="form-horizontal">
    @Html.Hidden("StudentPacketCourseId", Model.StudentPacketCourseId, new { id = "studentPacketCourseId" })
    @Html.Hidden("CourseId", Model.CourseId, new { id = "courseId" })

    <div class="row-fluid">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active">
                    <a data-toggle="tab" href="#goodAndService">Goods/Services</a>
                </li>
                
                <li>
					<a data-toggle="tab" href="#ilp">Course</a>
				</li>
                
                <li>
					<a data-toggle="tab" href="#enrollmentList">Enrollment List</a>
				</li>

                <li>
					<a data-toggle="tab" href="#alerts">Alerts</a>
				</li>

                <li>
					<a data-toggle="tab" href="#signs">Signs</a>
				</li>
			</ul>

			<div class="tab-content">
                <div id="goodAndService" class="tab-pane in active">
                    <h3 class="header smaller lighter green clearfix">Goods And Services</h3>

                    <div id="tableGoodAndService">
                        @Html.Partial("../GoodAndService/_TableGoodAndServiceDetails", Model.TableGoodAndServiceModel)
                    </div>

                    <div id="itemGoodAndService">

                    </div>

                    <div id="formGoodAndService">

                    </div>
                </div>

                <div id="ilp" class="tab-pane">
                    @if (Model.IsCanEditILP)
                    {
                        @Html.Partial("../ILP/_ILP", Model.ILPModel)
                    }
                    else
                    {
                        @Html.Partial("../ILP/_ILPDetails", Model.ILPModel)
                    }
                </div>

                <div id="enrollmentList" class="tab-pane">
					@Html.Partial("_EnrollmentList", Model.EnrollmentListModel)
				</div>

                <div id="alerts" class="tab-pane">
                    <h3 class="header smaller lighter green clearfix">Alerts</h3>

                    <div id="tableAlert">
                        @Html.Partial("../StudentPacketCourseAlert/_TableAlertDetail", Model.TableAlertModel)
                    </div>
                    
                    <div id="formAlert">
                    
                    </div>
                </div>

                <div id="signs" class="tab-pane">
					@Html.Partial("_SignDetail", Model.SignModel)
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
    //jQuery(function ($) {
    fpcs.dataStudentPacket.initDetailsPage();
    //});
</script>