﻿@model FPCS.Web.Admin.Models.FPCSStudentPacket.SignModel

<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span10">
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can view the Sign Student Packet</h3>
                </div>
            </div>


            @Html.HiddenFor(x => x.StudentPacketCourseId)
            @Html.HiddenFor(x => x.ReturnHref)
            
            @if (Model.IsInstructorGuardian)
            {
                <div class="control-group">
                    <label for="GuardiansSign" class="control-label">Guardians/Instructor</label>
                    <div class="controls">
                        @Html.DropDownListFor(x => x.GuardiansSign, Model.Signs, "", new { data_placeholder = "", @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
                
                <div class="control-group">
                    @Html.LabelFor(x => x.GuardiansComment, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(x => x.GuardiansComment, new { @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
            }
            else
            {
                <div class="control-group">
                    @Html.LabelFor(x => x.GuardiansSign, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(x => x.GuardiansSign, Model.Signs, "", new { data_placeholder = "", @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
                
                <div class="control-group">
                    @Html.LabelFor(x => x.GuardiansComment, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(x => x.GuardiansComment, new { @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
            }

            @if (Model.IsInstructorSponsor)
            {
                <div class="control-group">
                    <label for="SponsorSign" class="control-label">Sponsor/Instructor</label>
                    <div class="controls">
                        @Html.DropDownListFor(x => x.SponsorSign, Model.Signs, "", new { data_placeholder = "", @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
                
                <div class="control-group">
                    @Html.LabelFor(x => x.SponsorComment, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(x => x.SponsorComment, new { @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
            }
            else
            {
                <div class="control-group">
                    @Html.LabelFor(x => x.SponsorSign, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(x => x.SponsorSign, Model.Signs, "", new { data_placeholder = "", @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
                
                <div class="control-group">
                    @Html.LabelFor(x => x.SponsorComment, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(x => x.SponsorComment, new { @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>

                if (!Model.IsInstructorGuardian)
                {
                    <div class="control-group">
                        @Html.LabelFor(x => x.InstructorSign, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(x => x.InstructorSign, Model.Signs, "", new { data_placeholder = "", @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                        </div>
                    </div>
                
                    <div class="control-group">
                        @Html.LabelFor(x => x.InstructorComment, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(x => x.InstructorComment, new { @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                        </div>
                    </div>
                }
            }

            <div class="control-group">
                @Html.LabelFor(x => x.AdminSign, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.AdminSign, Model.Signs, "", new { data_placeholder = "", @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                </div>
            </div>
                
            <div class="control-group">
                @Html.LabelFor(x => x.AdminComment, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.AdminComment, new { @class = "span9", @readonly = "readonly", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-actions">
        <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
            <i class="icon-reply bigger-110"></i>
            Cancel
        </button>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
    });
</script>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))
