﻿@model FPCS.Web.Admin.Models.Teacher.TeacherDetailsModel

<div class="row-fluid form-horizontal">
    <div class="span12 ">

        <div class="control-group">
            <div class="controls">
                <h3 class="lighter block green">Teacher Information</h3>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.TitlePerson)
                            @Html.DropDownListFor(x => x.TitlePerson, Model.Titles, "", new { @class = "span12", @readonly = "true", @disabled = "true" })
                            @Html.ValidationMessageFor(m => m.TitlePerson)
                        </div>
                    </div>
                </div>
                <div class="span3 mleft0">
                    <div class="control-group">
                        <div class="control-group">
                            <div class="controls mleft10">
                                @Html.LabelFor(x => x.FirstName)
                                @Html.TextBoxFor(x => x.FirstName, new { placeholder = Html.DisplayNameFor(x => x.FirstName), @class = "span12", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.MiddleInitial)
                            @Html.TextBoxFor(x => x.MiddleInitial, new { placeholder = Html.DisplayNameFor(x => x.MiddleInitial), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.MiddleInitial)
                        </div>
                    </div>
                </div>
                <div class="span3 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.LastName)
                            @Html.TextBoxFor(x => x.LastName, new { placeholder = Html.DisplayNameFor(x => x.LastName), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            <div class="row-fluid input-append">
                                @Html.LabelFor(x => x.DateBirth)
                                @Html.TextBoxFor(x => x.DateBirth, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.DateBirth), @class = "span12 date-mask", data_date_format = "mm/dd/yyyy", @readonly = "true" })
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                                @Html.ValidationMessageFor(m => m.DateBirth)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span1 mleft20">
                    <div class="control-group">
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.LabelFor(x => x.IsActive)
                                @Html.CheckBoxFor(x => x.IsActive, new { @readonly = "true", @disabled = "true" })
                                <label for="IsActive" class="lbl">Yes</label>
                                @Html.ValidationMessageFor(m => m.IsActive)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row-fluid">
            <div class="span12">
                <div class="span5">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.MailingAddress)
                            @Html.TextBoxFor(x => x.MailingAddress, new { placeholder = Html.DisplayNameFor(x => x.MailingAddress), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.MailingAddress)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.City)
                            @Html.TextBoxFor(x => x.City, new { placeholder = Html.DisplayNameFor(x => x.City), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.StateId)
                            @Html.DropDownListFor(x => x.StateId, Model.States, "", new { @class = "span12", @readonly = "true", @disabled = "true" })
                            @Html.ValidationMessageFor(m => m.StateId)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.ZipCode)
                            @Html.TextBoxFor(x => x.ZipCode, new { placeholder = Html.DisplayNameFor(x => x.ZipCode), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.ZipCode)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.DistrictCode)
                            @Html.TextBoxFor(x => x.DistrictCode, new { placeholder = Html.DisplayNameFor(x => x.DistrictCode), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.DistrictCode)
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.HomePhone)
                            @Html.TextBoxFor(x => x.HomePhone, new { placeholder = Html.DisplayNameFor(x => x.HomePhone), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.HomePhone)
                        </div>
                    </div>
                </div>
                <div class="span3 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.BusPhone)
                            @Html.TextBoxFor(x => x.BusPhone, new { placeholder = Html.DisplayNameFor(x => x.BusPhone), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.BusPhone)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.Ext)
                            @Html.TextBoxFor(x => x.Ext, new { placeholder = Html.DisplayNameFor(x => x.Ext), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.Ext)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.CellPhone)
                            @Html.TextBoxFor(x => x.CellPhone, new { placeholder = Html.DisplayNameFor(x => x.CellPhone), @class = "span12" })
                            @Html.ValidationMessageFor(m => m.CellPhone)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.SSN)
                            @Html.TextBoxFor(x => x.SSN, new { placeholder = Html.DisplayNameFor(x => x.SSN), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.SSN)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.LabelFor(x => x.MastersDegree)
                                @Html.CheckBoxFor(x => x.MastersDegree, new { @readonly = "true", @disabled = "true" })
                                <label for="MastersDegree" class="lbl">Yes</label>
                                @Html.ValidationMessageFor(m => m.MastersDegree)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { placeholder = Html.DisplayNameFor(x => x.Email), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <div class="span6 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.SecondEMailAddress)
                            @Html.TextBoxFor(x => x.SecondEMailAddress, new { placeholder = Html.DisplayNameFor(x => x.SecondEMailAddress), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.SecondEMailAddress)
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="hr hr-dotted"></div>
            
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div class="control-group">
                        <div class="controls mleft10">
                            <h4 class="lighter green">Status with Anchorage School District besides FPCS (Check only 1 box for benefit pay)</h4>
                        </div>
                        <div class="controls mleft10">
                            <div class="auto_width span">
                                @Html.CheckBoxFor(x => x.IsBenefitPaidASDSchool, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsBenefitPaidASDSchool, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsBenefitPaidASDSchool)
                            </div>
                            <div class="auto_width span">
                                @Html.TextBoxFor(x => x.ASDFTE, new { placeholder = Html.DisplayNameFor(x => x.ASDFTE), @class = "wdth40 span", @readonly = "true" })
                                @Html.LabelFor(x => x.ASDFTE, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.ASDFTE)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="auto_width span">
                                @Html.CheckBoxFor(x => x.IsNotIncludeBenefits, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsNotIncludeBenefits, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsNotIncludeBenefits)
                            </div>
                            <div class="auto_width span">
                                @Html.TextBoxFor(x => x.FTCSFTE, new { placeholder = Html.DisplayNameFor(x => x.FTCSFTE), @class = "wdth40 span", @readonly = "true" })
                                @Html.LabelFor(x => x.FTCSFTE, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.FTCSFTE)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.LabelFor(x => x.NameSchool, new { @class = "auto_width control-label mright10" })
                                @Html.TextBoxFor(x => x.NameSchool, new { placeholder = Html.DisplayNameFor(x => x.NameSchool), @class = "span5", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.NameSchool)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsLeaveASD, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsLeaveASD, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsLeaveASD)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsSubtitleTeacher, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsSubtitleTeacher, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsSubtitleTeacher)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsOtherASDEmployee, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsOtherASDEmployee, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsOtherASDEmployee)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsOnASDEligibleToHire, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsOnASDEligibleToHire, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsOnASDEligibleToHire)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsRetiredASDTeacher, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsRetiredASDTeacher, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsRetiredASDTeacher)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 mleft0">
                    <div class="controls mleft10">
                        <h4 class="lighter green">FPCS FTE Percentage: (Percentage based on 100% = 1365 hrs) 20% = 0.2 FTE</h4>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.TextBoxFor(x => x.FPCSFTE, new { placeholder = Html.DisplayNameFor(x => x.FPCSFTE), @class = "span2", @readonly = "true" })
                            <label for="FPCSFTE" class="lbl">%</label>
                            @Html.ValidationMessageFor(m => m.FPCSFTE)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <h4 class="lighter green">I am interested in teaching:</h4>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsGroupInstruction, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsGroupInstruction, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsGroupInstruction)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsIndividualInstruction, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsIndividualInstruction, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsIndividualInstruction)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <h4 class="lighter green"></h4>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.LabelFor(x => x.YearsTeachingExperience, new { @class = "auto_width control-label mright10" })
                            @Html.TextBoxFor(x => x.YearsTeachingExperience, new { placeholder = Html.DisplayNameFor(x => x.YearsTeachingExperience), @class = "span2", @readonly = "true" })
                            <label for="FPCSFTE" class="lbl">years</label>
                            @Html.ValidationMessageFor(m => m.YearsTeachingExperience)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12 row-fluid input-append">
                            @Html.LabelFor(x => x.TeachingCertificateExpirationDate)
                            @Html.TextBoxFor(x => x.TeachingCertificateExpirationDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.TeachingCertificateExpirationDate), @class = "span5 date-picker", data_date_format = "mm/dd/yyyy", @readonly = "true" })
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.TeachingCertificateExpirationDate)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12 row-fluid input-append">
                            @Html.LabelFor(x => x.TeachingSalaryPlacement)
                            @Html.TextBoxFor(x => x.TeachingSalaryPlacement, new { placeholder = Html.DisplayNameFor(x => x.TeachingSalaryPlacement), @class = "span5", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.TeachingSalaryPlacement)
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="hr hr-dotted"></div>
            
        <div class="row-fluid">
            <div class="span12">
                <div class="span12">
                    <div class="control-group">
                        <div class="controls mleft10">
                            <h4 class="lighter green">Alaska Certification: (Check all that apply)</h4>
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.CheckBoxFor(x => x.IsAlaskaCertificationK8, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsAlaskaCertificationK8, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsAlaskaCertificationK8)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.CheckBoxFor(x => x.IsAlaskaCertificationK12, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsAlaskaCertificationK12, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsAlaskaCertificationK12)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.CheckBoxFor(x => x.IsAlaskaCertificationSpecialEducation, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsAlaskaCertificationSpecialEducation, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsAlaskaCertificationSpecialEducation)
                        </div>
                    </div>
                </div>
                <div class="span12 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.CheckBoxFor(x => x.IsAlaskaCertificationSecondary, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsAlaskaCertificationSecondary, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsAlaskaCertificationSecondary)
                            @Html.TextBoxFor(x => x.AlaskaCertificationSubjectGrades, new { placeholder = Html.DisplayNameFor(x => x.AlaskaCertificationSubjectGrades), @class = "span4", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.AlaskaCertificationSubjectGrades)
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="hr hr-dotted"></div>
            
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div class="control-group">
                        <div class="controls mleft10">
                            <h4 class="lighter green">I am available to teach FPCS students: (Check all that apply)</h4>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsInMyClassroom, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsInMyClassroom, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsInMyClassroom)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsAtMyHome, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsAtMyHome, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsAtMyHome)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsAsStudentsHome, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsAsStudentsHome, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsAsStudentsHome)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="span12">
                                @Html.CheckBoxFor(x => x.IsAtFPCSClassroom, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsAtFPCSClassroom, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsAtFPCSClassroom)
                            </div>
                        </div>
                        <div class="controls mleft10">
                            <div class="auto_width span">
                                @Html.CheckBoxFor(x => x.IsOtherAvailableTeach, new { @readonly = "true", @disabled = "true" })
                                @Html.LabelFor(x => x.IsOtherAvailableTeach, new { @class = "lbl" })
                                @Html.ValidationMessageFor(m => m.IsOtherAvailableTeach)
                            </div>
                            <div class="auto_width span">
                                @Html.TextBoxFor(x => x.OtherAvailableTeach, new { placeholder = Html.DisplayNameFor(x => x.OtherAvailableTeach), @class = "span8", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.OtherAvailableTeach)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 mleft0">
                    <div class="controls mleft10">
                        <h4 class="lighter green">I am available: (Check all that apply)</h4>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsWeekdays, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsWeekdays, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsWeekdays)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsWeekdayAfternoons, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsWeekdayAfternoons, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsWeekdayAfternoons)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsWeekdayEvenings, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsWeekdayEvenings, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsWeekdayEvenings)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsWeekends, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsWeekends, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsWeekends)
                        </div>
                    </div>
                    <div class="controls mleft10">
                        <div class="span12">
                            @Html.CheckBoxFor(x => x.IsSummers, new { @readonly = "true", @disabled = "true" })
                            @Html.LabelFor(x => x.IsSummers, new { @class = "lbl" })
                            @Html.ValidationMessageFor(m => m.IsSummers)
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="hr hr-dotted"></div>
            
        <div class="row-fluid">
            <div class="span12">
                @*<div class="span2 mleft0">
                    <div class="control-group">
                        <div class="control-group">
                            <div class="controls mleft10">
                                @Html.LabelFor(x => x.FlatRateHour)
                                @Html.TextBoxFor(x => x.FlatRateHour, new { placeholder = Html.DisplayNameFor(x => x.FlatRateHour), @class = "span12", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.FlatRateHour)
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.BasePayHour)
                            @Html.TextBoxFor(x => x.BasePayHour, new { placeholder = Html.DisplayNameFor(x => x.BasePayHour), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.BasePayHour)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.PayHourwBenefits)
                            @Html.TextBoxFor(x => x.PayHourwBenefits, new { placeholder = Html.DisplayNameFor(x => x.PayHourwBenefits), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.PayHourwBenefits)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.PerDeimRate)
                            @Html.TextBoxFor(x => x.PerDeimRate, new { placeholder = Html.DisplayNameFor(x => x.PerDeimRate), @class = "span12", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.PerDeimRate)
                        </div>
                    </div>
                </div>
                <div class="span2 mleft0">
                    <div class="control-group">
                        <div class="controls mleft10">
                            @Html.LabelFor(x => x.PayType)
                            @Html.DropDownListFor(x => x.PayType, Model.PayTypes, "", new { @class = "span12", @readonly = "true", @disabled = "true" })
                            @Html.ValidationMessageFor(m => m.PayType)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                <i class="icon-reply bigger-110"></i>
                Close
            </button>
        </div>
    </div>
</div>

