﻿@model FPCS.Web.Admin.Models.Guardian.GuardianEditModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_Edit", "Guardian", FormMethod.Post, new { id = "editGuardianForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
   
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">On this page you can edit the Guardian</h3>
                </div>
            </div>
    
            <div class="controls">
                @Html.ValidationSummary(true)
            </div>
    
            @Html.HiddenFor(x => x.DbUserId)

            <div class="control-group">
                @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.FirstName, new { placeholder = Html.DisplayNameFor(x => x.FirstName), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.LastName, new { placeholder = Html.DisplayNameFor(x => x.LastName), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.MiddleInitial, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.MiddleInitial, new { placeholder = Html.DisplayNameFor(x => x.MiddleInitial), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.MiddleInitial)
                </div>
            </div>
            @*<div class="control-group">
                @Html.LabelFor(x => x.Employer, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Employer, new { placeholder = Html.DisplayNameFor(x => x.Employer), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Employer)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.IsActiveMilitaryInt, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.IsActiveMilitaryInt, Model.ActiveMilitaries, new { @class = "span9" })
                    @Html.ValidationMessageFor(m => m.IsActiveMilitaryInt)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Rank, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Rank, new { placeholder = Html.DisplayNameFor(x => x.Rank), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Rank)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Pager, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Pager, new { placeholder = Html.DisplayNameFor(x => x.Pager), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Pager)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.BusinessPhone, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.BusinessPhone, new { placeholder = Html.DisplayNameFor(x => x.BusinessPhone), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.BusinessPhone)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Ext, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Ext, new { placeholder = Html.DisplayNameFor(x => x.Ext), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Ext)
                </div>
            </div>*@
            <div class="control-group">
                @Html.LabelFor(x => x.CellPhone, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.CellPhone, new { placeholder = Html.DisplayNameFor(x => x.CellPhone), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.CellPhone)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Email, new { placeholder = Html.DisplayNameFor(x => x.Email), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Address, new { placeholder = Html.DisplayNameFor(x => x.Address), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.City, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.City, new { placeholder = Html.DisplayNameFor(x => x.City), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.StateId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.StateId, Model.States, "Same as for family", new { @class = "span9" })
                    @Html.ValidationMessageFor(m => m.StateId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Country, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Country, new { placeholder = Html.DisplayNameFor(x => x.Country), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Zip, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Zip, new { placeholder = Html.DisplayNameFor(x => x.Zip), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Zip)
                </div>
            </div>
    
            if (Model.GuardianRelationships != null && Model.GuardianRelationships.Count() > 0)
            {
            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">Relationships</h3>
                </div>
            </div>
    
                foreach (var item in Model.GuardianRelationships)
                {
            <div class="control-group">
                @Html.Hidden("GuardianRelationships.Index", item.DbUserId)
                @Html.Hidden("GuardianRelationships[" + item.DbUserId + "].DbUserId", item.DbUserId)
                @Html.Hidden("GuardianRelationships[" + item.DbUserId + "].FullName", item.FullName)
                <label class="control-label" for="LastName">@item.FullName</label>
                <div class="controls">
                    @Html.DropDownList("GuardianRelationships[" + item.DbUserId + "].FamilyRelationshipType",
                                new SelectList(Model.Relationships, "Value", "Text", item.FamilyRelationshipType), new { @class = "span6" })
                </div>
            </div>
                }
            }
    
            <div class="form-actions">
                <button class="btn btn-success editGuardianSend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save guardian
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

@Html.Script(Scripts.Render("~/bundles/jqueryval"))