﻿@{
    ViewBag.Title = "Guardian Manager";
    ViewBag.Header = "Guardian Manager";
}

<div class="row-fluid">
    <div class="span12 gridWrapper">
       <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/css/jqGrid")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqGrid")

    <script type="text/javascript">
        jQuery(function ($) {
            fpcs.guardian.initIndexPage();
        });
    </script>
}
