﻿@model FPCS.Web.Admin.Models.SchoolYear.SchoolYearCreateModel

@{
    ViewBag.Title = "Create School Year";
    ViewBag.Header = "School Year Manager";
    ViewBag.SubHeader = "Create School Year";
    ViewBag.Message = "The year " + Model.Year + " wasn't initialized. Please fill all fields for create this school year.";
}

@section head{
}

<div class="row-fluid">
    <div class="span12">

        @using (Html.BeginForm("Create", "SchoolYear", FormMethod.Post, new { id = "createSchoolYearForm", @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => Model.Year)
            @Html.HiddenFor(x => Model.Name)

            <div class="controls">
                @Html.ValidationSummary(true)
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div>
                        This page allows system administration to modify Global settings of the application for the entire @Model.Name school year.
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <h3 class="header smaller lighter green">Define School Year</h3>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.StartDate)
                        </div>
                        <div class="row-fluid input-append">
                            @Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.StartDate), @class = "span10 mleft0 date-picker", data_date_format = "mm/dd/yyyy" })
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.HalfDate)
                        </div>
                        <div class="row-fluid input-append">
                            @Html.TextBoxFor(model => model.HalfDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.HalfDate), @class = "span10 date-picker", data_date_format = "mm/dd/yyyy" })
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.HalfDate)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.EndDate)
                        </div>
                        <div class="row-fluid input-append">
                            @Html.TextBoxFor(model => model.EndDate, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.EndDate), @class = "span10 date-picker", data_date_format = "mm/dd/yyyy" })
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.ILPHoursLimit)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ILPHoursLimit, new { @class = "span10" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.ILPHoursLimit)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.CountHoursWorkDay)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CountHoursWorkDay, new { @class = "span10" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.CountHoursWorkDay)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.PlusBudgetLimit)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.PlusBudgetLimit, new { @class = "span10" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.PlusBudgetLimit)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.BookMaterialFee)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.BookMaterialFee, new { @class = "span10" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.BookMaterialFee)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.GeneralSupplies)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.GeneralSupplies, new { @class = "span10" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.GeneralSupplies)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="header smaller lighter green">Teacher Benefit and Tax Rates</h3>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.GroupLifeInsurance)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.GroupLifeInsurance, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.GroupLifeInsurance)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.GroupMedicalInsurance)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.GroupMedicalInsurance, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.GroupMedicalInsurance)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.WorkersComp)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.WorkersComp, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.WorkersComp)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.Unemployment)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.Unemployment, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.Unemployment)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.FICA)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FICA, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.FICA)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.FICACap)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FICACap, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.FICACap)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.Medicare)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.Medicare, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.Medicare)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.TERSBaseContract)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.TERSBaseContract, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.TERSBaseContract)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.PERSBaseContract)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.PERSBaseContract, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.PERSBaseContract)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.TERSRetirement)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.TERSRetirement, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.TERSRetirement)
                        </div>
                    </div>
                    <div class="span2 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.PERSRetirement)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.PERSRetirement, new { @class = "span10" })
                            @Html.ValidationMessageFor(model => model.PERSRetirement)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="header smaller lighter green">Student Funding Amounts (by grade)</h3>
                    <div class="span1 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGradeK)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGradeK, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGradeK)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade1)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade1, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade1)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade2)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade2, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade2)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade3)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade3, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade3)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade4)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade4, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade4)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade5)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade5, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade5)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade6)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade6, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade6)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade7)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade7, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade7)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade8)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade8, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade8)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade9)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade9, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade9)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade10)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade10, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade10)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade11)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade11, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade11)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGrade12)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGrade12, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGrade12)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.FundingAmountGradeG)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.FundingAmountGradeG, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.FundingAmountGradeG)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="header smaller lighter green">Core Units (by grade)</h3>
                    <div class="span1 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGradeK)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGradeK, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGradeK)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade1)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade1, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade1)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade2)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade2, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade2)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade3)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade3, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade3)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade4)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade4, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade4)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade5)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade5, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade5)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade6)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade6, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade6)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade7)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade7, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade7)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade8)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade8, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade8)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade9)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade9, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade9)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade10)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade10, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade10)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade11)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade11, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade11)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGrade12)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGrade12, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGrade12)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.CoreUnitGradeG)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.CoreUnitGradeG, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.CoreUnitGradeG)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="header smaller lighter green">Elective Units (by grade)</h3>
                    <div class="span1 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGradeK)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGradeK, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGradeK)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade1)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade1, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade1)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade2)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade2, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade2)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade3)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade3, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade3)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade4)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade4, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade4)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade5)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade5, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade5)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade6)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade6, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade6)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade7)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade7, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade7)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade8)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade8, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade8)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade9)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade9, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade9)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade10)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade10, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade10)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade11)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade11, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade11)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGrade12)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGrade12, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGrade12)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.ElectiveUnitGradeG)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.ElectiveUnitGradeG, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.ElectiveUnitGradeG)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <h3 class="header smaller lighter green">Disable access</h3>
                    <div class="span1 mleft0 center">
                        <div>
                            @Html.LabelFor(model => model.DisableAccessForParents)
                        </div>
                        <div class="row-fluid">
                            @Html.CheckBoxFor(model => model.DisableAccessForParents, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.DisableAccessForParents)
                        </div>
                    </div>
                    <div class="span1 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.DisableAccessForTeachers)
                        </div>
                        <div class="row-fluid">
                            @Html.CheckBoxFor(model => model.DisableAccessForTeachers, new {@class = "span12"})
                            @Html.ValidationMessageFor(model => model.DisableAccessForTeachers)
                        </div>
                    </div>
                    <div class="span6 mleft5 mleft0-media767 center">
                        <div>
                            @Html.LabelFor(model => model.DisableAccessMessage)
                        </div>
                        <div class="row-fluid">
                            @Html.TextBoxFor(model => model.DisableAccessMessage, new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.DisableAccessMessage)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button onclick="javascript:$('#createSchoolYearForm').submit()" class="btn btn-success" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Save school year
                </button>
                <button onclick="javascript:location.href='@Url.Action("Index")'" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Return back
                </button>
            </div>
            }
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            jQuery(function ($) {
                fpcs.schoolYear.initSchoolYearCreateEditPages();
            });
        </script>

        @Scripts.Render("~/bundles/jqueryval")
    }
